{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
{{ $.Scratch.Add "path" .Site.BaseURL }}
<div id="fixedFrame" class="fixed-frame">
  <ul class="breadcrumbs">
    <span>Products</span>
    {{ range $index, $element := split $url "/" }}
      {{ $.Scratch.Add "path" $element }}
        {{ if ne $element "" }}
        <span>> {{ . }} </span>
        {{ $.Scratch.Add "path" "/" }}
        {{ end }}
    {{ end }}
  </ul>

  <div class="part-light">
  </div>

  <div class="part-dark">
    <div class="formats-category">
      <h3 class="headline-cap">Featured Formats</h1>
      <a class="headline-cap for-page-4" href="#page-format-brand">Brand Formats</a>
      <a class="headline-cap for-page-5" href="#page-format-consideration">Consideration Formats</a>
      <a class="headline-cap" href="#dr">DR Formats</a>
      <a class="headline-cap" href="#explore">Explore Full Portfolio</a>
    </div>
  </div>
</div>