<form class="contact-form" action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">

  <input type=hidden name="oid" value="00Di0000000hZnF">
  <input type=hidden name="retURL" value="http://www.yieldmo.com">

  <!--  NOTE: These fields are optional debugging elements. Please uncomment    -->
  <!-- these lines if you wish to test in debug mode.                          -->
  <!-- <input type="hidden" name="debug" value=1>                              -->
  <!-- <input type="hidden" name="debugEmail" value="aquale@yieldmo.com">      -->

  <div class="row clearfix">
    <div class="col-1 left">
      <h5 class="headline-cap">Hi, I’m</h5>
    </div>
    <div class="col-3 right">
      <input type="text" id="first_name" name="first_name" placeholder="Type your first name here*" />
      <input type="text" id="last_name" name="last_name" placeholder="Type your last name here*" />
    </div>
  </div>

  <div class="row clearfix">
    <div class="col-1 left">
      <h5 class="headline-cap">I'M A</h5>
    </div>
    <div class="col-3 right">
      <label for="publisher">Publisher</label><input type="radio" name="customer" id="publisher" value="Publisher">
      <label for="advertiser">Advertiser</label><input type="radio" name="customer" id="advertiser" value="Advertiser">
      <label for="publisher">Other</label><input type="radio" name="customer" id="other" value="Other">
    </div>
  </div>

  <div class="row clearfix">
    <div class="col-1 left">
      <h5 class="headline-cap">I WORK FOR</h5>
    </div>
    <div class="col-3 right">
      <input type="text" id="company_name" name="company_name" placeholder="Type your company name here*" />
    </div>
  </div>

  <div class="row clearfix">
    <div class="col-1 left">
      <h5 class="headline-cap">I CAN BE REACHED AT</h5>
    </div>
    <div class="col-3 right">
      <input type="text" id="business_email" name="business_email" placeholder="Type your business email here*" />
      <input type="text" id="phone_humber" name="phone_humber" placeholder="Type your phone number here*" />
      <select name="hear" class="" aria-invalid="false" select="" required="">
        <option value="">How did you hear about us?*</option>
        <option value="Word of mouth / referral">Word of mouth / referral</option>
        <option value="In the media">In the media</option>
        <option value="Online search">Online search</option>
        <option value="Saw your ads on my phone">Saw your ads on my phone</option>
        <option value="Social media">Social media</option>
        <option value="comScore">comScore</option>
        <option value="Other">Other</option>
      </select>
    </div>
  </div>

  <div class="row clearfix">
    <div class="col-1 left">
      <h5 class="headline-cap">I'D LIKE TO TALK ABOUT</h5>
    </div>
    <div class="col-3 right">
      <textarea id="message" name="message" /></textarea>
      <input type="submit" name="submit" value="SEND">
      <div class="more-contact">
        <h6 class="headline-cap">not into forms?<br>there are other ways to reach us:</h6>
        <p>
          <span>218 West 18th Street, 2nd Floor,</span>
          <span>New York, NY 10011</span>
          <span><a href="mailto:name@email.com">info@yieldmo.com</a> | 646-845-0800</span>
        </p>
      </div>
      <p></p>
    </div>
  </div>
</form>