<div class="slide-formats slide-wrapper">
  <a class="main-cta" href='{{ "/formats/" | absURL }}'>FORMATS</a>

  <div class="main-message">
    <h2 class="headline-lean">Don't just attract customers,</h2>
    <h2 class="headline-cap">KEEP THEM.</h2>

    <div class="more-info">
      <p class="description">Our ad formats cultivate interaction without interfering with content.</p>
      <a class="inline-cta" href='{{ "/formats/" | absURL }}'>LEARN MORE</a>
    </div>
  </div>

  <div class="visual-pattern formats">
    <div class="ocean">
      <div class="wave">{{ partial "svg/wave.svg" (dict "className" "shape") }}</div>
      <div class="wave">{{ partial "svg/wave.svg" (dict "className" "shape") }}</div>
      <div class="wave">{{ partial "svg/wave.svg" (dict "className" "shape") }}</div>
      <div class="wave">{{ partial "svg/wave.svg" (dict "className" "shape") }}</div>
      <div class="bottom"></div>
    </div>

    <!-- <img class="visual-pattern formats" src='{{ "_images/pattern-formats.jpg" | absURL }}'> -->
  </div>
</div>