<div class="slide-insights slide-wrapper">
  <a class="main-cta" href='{{ "/insights/" | absURL }}'>INSIGHTS</a>

  <div class="main-message">
    <h2 class="headline-lean">The Truth lives inside our,</h2>
    <h2 class="headline-cap">230 BILLION DATA POINTS.</h2>
    <p class="description">We measure micro-interactions - the lingers, hovers, swipes, and scrolls - to understand what matters to your customers..</p>
    <a class="inline-cta" href='{{ "/insights/" | absURL }}'>LEARN MORE</a>
  </div>

  <img class="pattern-formats" src='{{ "_images/pattern-insights.jpg" | absURL }}'>
</div>