<div class="slide-marketplace slide-wrapper">
  <a class="main-cta" href='{{ "/marketplace/" | absURL }}'>MARKETPLACE</a>

  <div class="main-message">
    <!-- <h2 class="tagline-a">Don't just attract customers,</h2> -->
    <h2 class="tagline-b">SEEN AND BE SEEN.</h2>
    <p class="description">Invest in the largest independent mobile marketplace in the U.S. behind Google, Facebook, and Amazon.</p>
    <a class="inline-cta" href='{{ "/marketplace/" | absURL }}'>LEARN MORE</a>
  </div>

  <img class="pattern-formats" src='{{ "_images/pattern-marketplace.jpg" | absURL }}'>
</div>