<div class="slide-formats slide-inner">
  <a class="main-cta" href='{{ "/products/formats/" | absURL }}'>FORMATS</a>

  <div class="main-content">
    <div class="headlines">
      <h2 class="headline-lean">Don't just attract customers,</h2>
      <h2 class="headline-cap">KEEP THEM.</h2>
    </div>    
    <div class="more-info">
      <p class="description">Our ad formats cultivate interaction, not irritation.</p>
      <a class="inline-cta" href='{{ "/products/formats/" | absURL }}'>LEARN MORE</a>
    </div>
  </div>

  <div class="visual-pattern formats">
    <!-- <div class="canvas-container">
      <canvas id="waves"></canvas>
    </div> -->
    
    <video playsinline autoplay muted loop crossorigin="anonymous" preload="auto">
      <source src='{{ "_videos/waves-square.mp4" | absURL }}' type='video/mp4'>
    </video>

    <img src='{{ "_images/waves.png" | absURL }}'>
  </div>
</div>