/* ==========================================================================
   variables (SaSS & CSS custom properties)
   ========================================================================== */

/* CSS variables (not actually mutable) */
$base-size: 16px; /* it's actually the popular default as well */

/* https://github.com/postcss/postcss-color-function#list-of-color-adjuster */
$primary-white: rgb(255, 255, 255);
$primary-black: rgb(0, 0, 0);
$ocean-deep: rgb(30, 39, 45);
$medium-blue: rgba(8, 84, 115);
$deep-blue: rgb(10, 82, 104);
$tangerine: rgb(235, 150, 47);
$light-green: rgb(150, 205, 198);
$medium-green: rgb(93, 178, 168);
$gray: rgb(228, 228, 228);


$first: rgb(159, 190, 192);
$second: rgb(64, 153, 143);


/* ==========================================================================
   fonts
   ========================================================================== */

/* Purchased web font: @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/34fcf3");
@font-face {font-family: 'MeltowSan200-Regular';src: url('../_fonts/webfonts/34FCF3_0_0.eot');src: url('../_fonts/webfonts/34FCF3_0_0.eot?#iefix') format('embedded-opentype'),url('../_fonts/webfonts/34FCF3_0_0.woff2') format('woff2'),url('../_fonts/webfonts/34FCF3_0_0.woff') format('woff'),url('../_fonts/webfonts/34FCF3_0_0.ttf') format('truetype');}
@font-face {font-family: 'MeltowSan100-Regular';src: url('../_fonts/webfonts/34FCF3_1_0.eot');src: url('../_fonts/webfonts/34FCF3_1_0.eot?#iefix') format('embedded-opentype'),url('../_fonts/webfonts/34FCF3_1_0.woff2') format('woff2'),url('../_fonts/webfonts/34FCF3_1_0.woff') format('woff'),url('../_fonts/webfonts/34FCF3_1_0.ttf') format('truetype');} 

/* hosted font */
@font-face {font-family: MrsEavesItalic; src: url('../_fonts/MrsEavesItalic.ttf');}
@font-face {font-family: Meltow; src: url('../_fonts/MeltowSan300-Regular.ttf');}
@font-face {font-family: Caecilia-Light; src: url('../_fonts/Caecilia-Light.ttf');}

$headline-lean: MrsEavesItalic;
$headline-cap: Meltow;
$menu-cap: MeltowSan100-Regular;
$content-font: Caecilia-Light;




/* ==========================================================================
   Media Queries and custom media definitions
   ========================================================================== */

$mobile-s-width: 280px;
$mobile-m-width: 359px;
$mobile-l-width: 408px;
$desktop-width-s: 960px;
$desktop-width-m: 1440px;

/* @custom-media --mobile-s (width <= 359px); */
@custom-media --mobile-m  (width >= 359px);
@custom-media --mobile-l  (width >= 408px);
@custom-media --desktop-s (width >= 960px);
@custom-media --desktop-m (width >= 1440px);
@custom-media --desktop-l (width >= 1920px);

$arrow-right: '∟';

$mobile-s-content-width: 16rem;
$mobile-m-content-width: 18rem;
$mobile-l-content-width: 20rem;
$desktop-s-content-width: 24rem;
$desktop-m-content-width: 26rem;
$desktop-l-content-width: 28rem;

/* ==========================================================================
   Mixins
   ========================================================================== */
/* https://webdesign.tutsplus.com/tutorials/postcss-deep-dive-preprocessing-with-precss--cms-24583 */




/* ==========================================================================
   Extends
   ========================================================================== */

/* usage: @extend vertical-align; */

@define-extend vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@define-extend horizontal-align {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}