{{ define "main" }}
<div class="section-wrapper section-engagement">
  <div class="interior-page page-1">
    <ul class="breadcrumbs"><span>Products</span><span> > Formats</span></ul>

    <div class="headlines">
      <div class="headline-cap">MOVING BEYOND THE CLICK.</div>
      <p class="explanation">In an effort to predict ROAS, the industry has defaulted to clicks and views—holdover metrics from a desktop-only world. Clicks certainly count, but they only tell a fraction of the buyer’s story, obscuring the reality of true intent.</p>      
    </div>

    <img class="hand-held" src='{{ "_images/on-engagement.jpg" | absURL }}'>
  </div>
  
  <div class="interior-page page-2">
    <div class="headlines">
      <div class="headline-cap">DON'T JUST GET THE CLICK, <br>GET WHY THE CLICK HAPPENED</div>
      <p class="explanation">If you want the truth on customer preferences and campaign efficacy, you need the metrics that will help you understand. The seductive click-baits and relentless pop-ups are bred from the way it is: current incentives and short-term profits.
      </p>      
    </div>

    <img class="pattern" src='{{ "_images/square-dots.png" | absURL }}'>
    <video class="pattern" playsinline autoplay loop src='{{ "_videos/dots-square.mp4" | absURL }}'></video>
  </div>

  <div class="interior-page page-3">
    <div class="match-light">
      <div class="headlines">
        <h2 class="headline-lean">Deeper insights get you closer to the truth.</h2>
        <p class="explanation">Without proper measurement, we are blind to the vital intelligence that lives before the click: the considering, examining, and comparing. By tracking a full suite of metrics—the swipes, lingers, hovers, scrolls, views, plays, etc.—we now have a picture of behavioral interaction we just haven’t seen before.
        </p>
      </div>
    </div>

    <div class="match-dark">
      <p class="explanation">
        <strong>46% of brand marketers and 43% of agencies</strong>
        report that “the current metrics (clicks, viewability, etc.) used to measure performance on mobile aren’t effective.
      </p>
    </div>    
  </div>
</div>
{{ end }}