{{ define "main" }}
<div class="section-wrapper section-engagement">
  <div class="interior-page page-1">
    <ul class="breadcrumbs"><span>Products</span><span> > Formats</span></ul>

    <div class="headlines">
      <div class="headline-cap">MOVING BEYOND THE CLICK.</div>
      <p class="explanation">In an effort to predict ROAS, the industry has defaulted to clicks and views—holdover metrics from a desktop-only world. Clicks certainly count, but they only tell a fraction of the buyer’s story, obscuring the reality of true intent.</p>      
    </div>

    <img class="hand-held" src='{{ "_images/on-engagement.jpg" | absURL }}'>
  </div>
  
  <div class="interior-page page-2"></div>
  <div class="interior-page page-3"></div>
</div>
{{ end }}