/* ==========================================================================
   Pages
   ========================================================================== */

.section-afl .page-1 {
  height:  auto;

  .match-light {
    height: auto;

    .headlines {
      position: relative;
      top: 0;
      padding: 3rem 0 1rem 0;

      .headline-cap {
        i { font-family: $headline-lean; }
      }

      .explanation {
        margin: 1rem 0;
      }
    }
  }

  .match-dark {
    height: auto;
    padding: 3rem;
    text-align: center;

    .charts {
      position: relative;
      display: inline-block;
      border-bottom: .5rem solid $primary-white;
      margin-bottom: 2rem;
      width: 12rem;
      height: 12rem;
      overflow: hidden;

      .for {
        position: absolute;
        width: 3.5em;
        bottom: 1em;
        top: 100%;
        font-size: 1rem;

        &.con { background-color: $medium-green; }
        &.adv { background-color: $light-green; left: 4.25em; }
        &.pub { background-color: $deep-blue; left: 8.5em; }
      }
    }

    .stats {
      position: relative;
      width: 100%;
      height: 12rem;

      .for {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        opacity: 0;

        h5 {
          text-align: center;
          font-family: $content-font;
        }

        p {
          b {
            text-align: center;
            display: block;
            font-size: 3rem;
            font-family: $headline-cap;
            font-weight: 300;
            line-height: 1;
            margin-top: 1rem;
          }

          span {
            color: $primary-black;
          }
        }

        &.con { color: $medium-green; }
        &.adv { color: $light-green; }
        &.pub { color: $deep-blue; }
      }
    }
  }
}


.section-afl .page-2 {
  .match-light {
    .headlines {
      padding: 2rem 0;

      .explanation {
        margin-top: 1rem;
      }
    }
  }

  .match-dark {
    min-height: 0;

    video {
      display: block;
      width: 100%;
      padding: 2rem;
      max-width: 72rem;
      margin: 0 auto;
    }
  }
}