/* ==========================================================================
   Default smallest mobile device
   ========================================================================== */

.section-wrapper {
  background-color: $primary-white;
  margin-top: 4em;

  .breadcrumbs {
    position: absolute;
    z-index: 1;
    left: 1.5rem;
    top: 1.5rem;
  }

  .interior-page {
    min-height: calc(100vh - 4em);
    position: relative;
    overflow: hidden;

    .match-light {
      background-color: $primary-white;
      position: relative;

      .info { text-align: center; }
    }

    .match-dark {
      background-color: $gray;
      position: relative;
    }
  }

  .page-1 {
    .match-light {
      min-height: calc(50vh - 2em);

      .headlines {
        padding: 4em 0 0 0;
        left: 1.5em;

        .headline-cap {
          font-size: 2em;
          line-height: .9;
        }

        .headline-lean {
          font-size: 1.8em;
        }
      }
    }

    .match-dark {
      min-height: calc(50vh - 2em);

      .explanation {
        position: absolute;
        margin: 0 2em;
        top: -3em;
        margin: 0 2em;
        text-align: center;
      }
    }
  }
}

.placeholder { width: 100%; }



@media (--mobile-m) {
  .breadcrumbs { font-size: .8rem; }
  .page-1 .match-light .headlines { font-size: 1.2rem; }
}

@media (--mobile-l) {
  .breadcrumbs { font-size: 1rem; }
  .page-1 .match-light .headlines { font-size: 1.5rem; }
}


/* ==========================================================================
   Small desktop view
   ========================================================================== */
   
@media (--desktop-s) {
  .section-wrapper {
    margin-top: 0;

    .interior-page {
      min-height: 100vh;

      .match-light {
        position: absolute;
        width: 100%;
        height: 50vh;
        top: 0;
        left: 0;

        .info { text-align: left; }
      }

      .match-dark {
        position: absolute;
        width: 100%;
        height: 50vh;
        top: 50vh;
        left: 0;
      }
    }

    .page-1 {
      .match-light {
        .headlines { 
          position: absolute;
          padding: 0 !important;
          margin: 0;
          top: 50%;
          transform: translateY(-50%);
          font-size: 2rem;
        }
      }

      .match-dark {
        .explanation {
          text-align: left;
          width: 19em;
          margin: 0;
          left: 2.7em;
          font-size: 1.3rem;
        }
      }
    }
  }

  .section-formats {

    .breadcrumbs { }

    .page-1 .match-light .headlines {
      .headline-cap { }
      .headline-lean { }
    }
  }
}