/* ==========================================================================
   Default smallest mobile device
   ========================================================================== */

.section-wrapper {
  background-color: $primary-white;
  margin-top: 4rem;
  min-height: calc(100vh - 4rem);
  position: relative;

  .interior-page {
    min-height: calc(100vh - 4rem);
    position: relative;
    overflow: hidden;

    .match-light {
      background-color: $primary-white;
      position: relative;

      .info { text-align: left; }
    }

    .match-dark {
      background-color: $gray;
      position: relative;
    }
  }

  .page-1 {
    .match-light {
      min-height: calc(50vh - 2rem);

      .headlines {
        position: absolute;
        top: 4em;
        left: 0;
        right: 0;
        margin: auto;
        width: $mobile-s-content-width;
      }
    }

    .match-dark {
      min-height: calc(50vh - 2rem);

      .explanation {
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        width: $mobile-s-content-width;
        text-align: left;
        padding: 1em;
        transform: translateY(-50%);
      }
    }
  }

  &:before,
  &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }

  &:after {
    clear: both;
  }
}


@media (--mobile-m) {
  .section-wrapper {
    .page-1 .match-dark .explanation { font-size: 1.1rem; width: $mobile-m-content-width; }    
  }
}

@media (--mobile-l) {
  .section-wrapper {
    .page-1 .match-dark .explanation { font-size: 1.2rem; width: $mobile-l-content-width; }
  }
}


/* ==========================================================================
   Small desktop view
   ========================================================================== */
   
@media (--desktop-s) {
  .section-wrapper {
    margin-top: 0;

    .interior-page {
      min-height: 100vh;

      .match-light {
        position: absolute;
        width: 100%;
        height: 50vh;
        top: 0;
        left: 0;

        .info { text-align: left; }
      }

      .match-dark {
        position: absolute;
        width: 100%;
        height: 50vh;
        top: 50vh;
        left: 0;
      }
    }

    .page-1 {
      .match-light {
        .headlines { 
          position: absolute;
          padding: 0 !important;
          margin: 0;
          top: 50% !important;
          transform: translateY(-50%);
          left: $desk-s-side-margin;
          font-size: 2rem;
        }
      }

      .match-dark {
        .explanation {
          text-align: left;
          width: 19em;
          margin: 0;
          left: 3rem;
          font-size: 1.3rem;
        }
      }
    }
  }
}