/* ==========================================================================
   Smallest mobile first
   ========================================================================== */

.section-contact {
  .headlines-container {
    .headlines {
      width: $mobile-s-content-width;
      margin: 0 auto;
      padding: 3em 0 2em 0;

      .headline-cap { font-size: 3em; }
      .headline-lean { font-size: 2em; }
    }
  }

  .form-container {
    background-color: $medium-blue;
    color: $primary-white;

    form {
      width: $mobile-s-content-width;
      margin: 0 auto;
      padding: 2em 0;

      .row {
        padding: .5em 0;

        .col-1 { float: left; width: 25%; }
        .col-2 { float: left; width: 50%; }
        .col-3 { float: left; width: 75%; }


        .left {
          .headline-cap {
            font-family: MeltowSan200-Regular;
            font-size: 1.1em;
            text-align: right;
          }          
        }

        .right { 
          padding-left: 1em; 
          margin-top: -0.25em;

          label {
            display: block;
            font-family: $headline-cap;
            text-align: center;
            padding: .5em 0 .2em 0;
            border: 1px solid rgba(255, 255, 255, .5);
            color: rgba(255, 255, 255, .5);
            margin-bottom: 1em;
            font-size: .8rem;

            &.active {
              border: 1px solid rgba(255, 255, 255, 1);
              color: rgba(255, 255, 255, 1);              
            }
          }

          input[type="text"] {
            width: 100%;
            background-color: $medium-blue;
            border: none;
            border-bottom: 1px solid $primary-white;
            margin-bottom: 1em;
            font-family: $content-font;
            font-size: .9em;
            line-height: 2;

            &::placeholder {
              color: $primary-white;

            }
          }

          input[type="radio"] {
            display: none;
          }

          input[type="submit"] {
            font-family: MeltowSan200-Regular;
            text-align: center;
            padding: .5em 1em .4em 1em;
            border: 1px solid $primary-white;
            background-color: $medium-blue;
            margin-top: .5em;
            font-size: .8em;
          }

          select {
            border: 1px solid $primary-white;
            background-color: $medium-blue;
            border-radius: 0;
            font-family: MeltowSan200-Regular;
            font-size: .8em;
            width: 100%;
            padding: .25em 0 .5em 0;
          }

          textarea {
            width: 100%;
            height: 12em;
            color: $primary-black;
            font-family: $content-font;
          }

          .more-contact {
            margin: 1em 0;

            .headline-cap { 
              font-family: MeltowSan200-Regular;
              text-align: left;
              color: $medium-green;
              font-size: 1.1em;
              margin: 1em 0;
            }

            p {
              font-size: .8em;

              span {
                display: block;
                margin: .5em 0;

                a { color: $primary-white; text-decoration: underline; }
              }
            }
          }
        }

        &:nth-child(2) .right { margin-top: 0; }
        &:nth-child(5) .right { margin-top: 0; }
      }
    }
  }
}