/* ==========================================================================
   Pages
   ========================================================================== */

body > div.menu-container > div.primary-menu > ul > li:nth-child(3) > ul > li:nth-child(1) {
   display: none;
 }

.section-emp {
  .interior-page > div > div {
    width: $mobile-s-content-width;
    margin: 0 auto;
  }

  p { font-size: .8rem; }

  .page-1 {
    height: auto;

    .match-light {
      min-height: 0;
      height: auto;

      .button-engage{
        margin-right: 10px;
      }

      .headlines {
        position: static;
        margin: 4rem auto 2rem auto;
        font-size: 1.3rem;
      }
    }

    .match-dark {
      height: auto;
      padding: 2rem 0;

      .pattern {
        display: block;
        width: 100%;
        margin: 1rem 0;   
        margin-bottom:-31px;    
      }

      .headline-cap {
      display: inline-block;
      padding: .5em 1em .2em 1em;
      background-color: $tangerine;
      color: $primary-white;
      float:right;
      margin-top:-59px;
      margin-right:207px;
      &.engage-button{
      padding-top: 8px;
      padding-bottom: 8px;
      width: 200px;
      float: none;
      font-weight: 300;
      text-align:center;
      }
     }
     
    }

    .graphic{
      .headline-cap{
        margin-bottom: 1rem;
        margin-top:40px;
        font-size:2em;
      }

      video {
        width:90%;
        display:block;
        margin-left:auto;
        margin-right: auto;
        margin-top:auto;
        padding-top:30px;
        }

    }
  }


  .page-2 {
    &.overflow-fix {
      min-height:700px;
      height: auto;
    }
    .match-light {
      .headlines,
      p {
        margin: 2em auto;
      }

      img { width: 100%; }

      .emp-process {
        .headline-cap {
          color: $medium-green
        }

        p {
          margin-top: 1em;
        }
      }
    }

    .match-dark {
      padding: 2em 0;

      p { margin-top: 2em; }    
    }
  }

  .page-3 {
    margin-top:50px;
    .match-dark {
      min-height: 0;
      padding: 2em 0;

      .headline-cap {
        margin-bottom: 1em;
      }
    }

    .match-light {
      > div {
        padding: 2rem 0;

        h2.headline-cap {
          margin-bottom: 1rem;
          color: $medium-blue;
        }
      }

      .form-container {
        width: auto;
        padding: 2em 0;
      }
    }
  }
}


