/* ==========================================================================
   Pages
   ========================================================================== */

.section-engagement .page-1 {

  .headlines {
    position: absolute;
    right: 0;
    left: 0;
    top: 4em;
    margin: auto;
    width: $mobile-s-content-width;
    font-size: 1rem;
    z-index: 1;

    .headline-cap {
      font-size: 2em;
    }

    .explanation {
      font-size: .8em;
      margin-top: .5em;
    }
  }

  .hand-held {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 90%;
    max-height: 100%;
  }
}

.section-engagement .page-2 {
  min-height: 100vh;

  .headlines {
    position: absolute;
    right: 0;
    left: 0;
    top: 2em;
    margin: auto;
    width: $mobile-s-content-width;
    font-size: 1rem;
    z-index: 1;

    .headline-cap {
      font-size: 2em;
    }

    .explanation {
      font-size: .8em;
      margin-top: .5em;
    }
  }

  .pattern {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
  }

  img { display: block; }
  video { display: none; }
}

.section-engagement .page-3 {
  .match-light {
    height: calc(60vh - 2rem);
    min-height: 20rem;

    .headlines {
      position: absolute;
      right: 0;
      left: 0;
      top: 2em;
      margin: auto;
      width: $mobile-s-content-width;
      font-size: 1rem;
      z-index: 1;

      .headline-lean {
        font-size: 2em;
      }

      .explanation {
        font-size: .8em;
        margin-top: .5em;
      }
    }
  }

  .match-dark {
    min-height: 16rem;
    background-color: $ocean-deep;

    .explanation {
      background-color: color($medium-green a(80%)); 
      color: $primary-white;
      position: absolute;
      padding: 1em;
      right: 0;
      left: 0;
      transform: translateY(-30%);
      width: 16em;
      margin: auto;

      strong {
        font-family: $headline-cap;
        font-weight: 200;
        line-height: 1;
        font-size: 1.5em;
        display: inline-block;
      }
    }
  }
}