/* ==========================================================================
   Fixed frame that persists throughout the interaction
   ========================================================================== */

.fixed-frame {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: $primary-white; /* insurance */

  .breadcrumbs {
    position: absolute;
    z-index: 1;
    font-size: .7rem;
    left: 1em;
    top: 7.5em;
  }

  .part-light {
    position: absolute;
    height: 50vh;
    width: 100%;
    left: 0;
    top: 0;
    background-color: $primary-white;
  }

  .part-dark {
    position: absolute;
    height: 50vh;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: $gray;

    .formats-category {
      visibility: hidden;
      margin-top: 6em;
      padding: 1em 3em;
      height: calc(40vh - 6em);

      a.headline-cap { 
        display: block;
        color: $primary-black;
        font-size: .9em;

        &:before {
          content: 'â¯';
          position: relative;
          left: -0.5em;
          font-weight: 100;
          font-size: 0.8rem;
          margin-left: .5em;
        }
      }
    }
  }
}

body.active-3 .fixed-frame {
  .part-light { height: calc(40vh + 2em); }
  .part-dark { height: calc(60vh - 2em); }
}

body.active-4 .fixed-frame,
body.active-5 .fixed-frame {
  .part-dark { 
    height: 40vh;
    bottom: 60vh;

    .formats-category {
      visibility: visible;
    }
  }

  .part-light {
    height: 60vh;
    top: 40vh;
  }
}

body.active-4 .for-page-4,
body.active-5 .for-page-5 {
  color: $tangerine !important;
}

/* ==========================================================================
   Section in site wrapper (.site-wrapper -> .section-formats)
   ========================================================================== */

.interior-page {
  position: relative;

  .match-light,
  .match-dark {
    position: absolute;
    width: 100%;
  }

  &.page-1,
  &.page-2,
  &.page-3 {
    .match-light {
      height: 50vh;
      padding-top: 4em;
      top: 0;
      left: 0;

      .headlines {
        padding: 3em 2em 0 2em;
      }
    }

    .match-dark {
      height: 50vh;
      top: 50vh;
    }
  }
}


/* ==========================================================================
   Pages
   ========================================================================== */

.interior-page.page-1 {
  .match-light .headlines {
    .headline-cap {
      font-size: 2rem;
      line-height: .9;
    }

    .headline-lean {
      font-size: 1.8rem;
    }

    .info {
      font-size: 1.2rem;
      line-height: 1.5;
    }
  }

  .match-dark .explanation {
    position: absolute;
    margin: 0 2em;
    top: -3em;

    background-color: $light-green;
    color: $primary-black;
    padding: 1.5em;
    text-align: left;
  }
}

.interior-page.page-2 {
  .match-light .headlines {
    .headline-cap {
      font-size: 1.1rem;
      line-height: 1;
    }

    .info {
      margin-top: 1em;
      font-size: .6rem;
    }
  }

  .match-dark {
    .pie-chart {
      display: none;
      position: absolute;
      top: -7em;
    }

    .chart-legend {
      position: absolute;
      width: 100%;
      bottom: 0;
    } 
  }
}

.interior-page.page-3 {
  .match-light {
    height: calc(40vh + 2em);
  }

  .match-dark {
    top: calc(40vh + 2em);
    height: calc(60vh - 2em);
  }

  .match-light .headlines {
    .headline-cap {
      font-size: 1.6rem;
      line-height: 1;
    }

    .info {
      margin-top: 1em;
      font-size: .6em;
    }

    .headline-lean {
      font-size: 1.5em;
      margin-top: 1em;
      text-align: center;
    }
  }

  .match-dark .formats-category {
    padding: 1em 2em;

    .headline-cap {
      text-align: center;
      width: calc(100%);
      display: inline-block;
      background-color: $primary-white;
      padding: 1em .5em .7em .5em;
      margin: .5em 0;
      color: $primary-white;
    }

    .headline-cap:nth-child(1) { background-color: $deep-blue; }
    .headline-cap:nth-child(2) { background-color: $ocean-deep; }
    .headline-cap:nth-child(3) { background-color: $deep-blue; }
    .headline-cap:nth-child(4) { background-color: $ocean-deep; }
  }
}

.interior-page.page-4,
.interior-page.page-5 {
  .match-light {
    top: 40vh;
    height: 60vh;

    .format-elaboration {
      position: absolute;
      width: 100%;
      bottom: 0;

      .header {
        margin: 1em;

        .headline-lean { font-size: 1.2rem; }
        .headline-cap { font-size: 1.6rem; }
      }

      .video-container {
        margin: 0 1em;

        .label {
          margin: .5em 0;
          font-size: .7rem;
        }
        
        video {
          width: 100%;
        }

        .name {
          margin: 2em 0;
          font-size: .5rem;

          strong {
            font-family: Meltow;
            font-size: 1.2em;
          }
        }
      }
    }
  }
}
