/* ==========================================================================
   Fixed frame that persists throughout the interaction
   ========================================================================== */

.fixed-frame {
  /* display: none; */
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: $primary-white; /* insurance */

  .part-light {
    position: absolute;
    height: 50vh;
    width: 100%;
    left: 0;
    top: 0;
    background-color: $primary-white;
  }

  .part-dark {
    position: absolute;
    height: 50vh;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: $gray;

    .formats-category {
      visibility: hidden;
      margin-top: 6em;
      padding: 1em 3em;
      height: calc(40vh - 6em);

      a.headline-cap { 
        display: block;
        color: $primary-black;
        font-size: .9em;

        &:before {
          content: 'â¯';
          position: relative;
          left: -0.5em;
          font-weight: 100;
          font-size: 0.8rem;
          margin-left: .5em;
        }
      }
    }
  }
}

body.active-3 .fixed-frame {
  .part-light { height: calc(40vh + 2em); }
  .part-dark { height: calc(60vh - 2em); }
}

body.active-4 .fixed-frame {
  .part-dark { 
    height: 25vh;
    bottom: 75vh;

    .formats-category {
      visibility: visible;
    }
  }

  .part-light {
    height: 75vh;
    top: 25vh;
  }
}

body.active-4 .for-page-4 {
  color: $tangerine !important;
}


.breadcrumbs {
  position: absolute;
  z-index: 1;
  font-size: .6rem;
  left: 2em;
  top: 8.5em;
}

/* ==========================================================================
   Section in site wrapper (.site-wrapper -> .section-formats)
   ========================================================================== */

.interior-page {
  position: relative;
  height: 100vh;

  .match-light {
    background-color: $primary-white;
    position: absolute;
    width: 100%;

    .info { text-align: center; }
  }

  .match-dark {
    background-color: $gray;
    position: absolute;
    width: 100%;
  }

  &.page-1,
  &.page-2,
  &.page-3 {
    .match-light {
      height: 50vh;
      top: 0;
      left: 0;

      .headlines {
        padding: 2em 2em 0 2em;

        .info {
          margin-top: 1.3em;
          font-size: .75rem;
          line-height: 1.5;          
        }
      }
    }

    .match-dark {
      height: 50vh;
      top: 50vh;
    }
  }
}


/* ==========================================================================
   Pages
   ========================================================================== */

.interior-page.page-1 {
  .match-light {
    padding-top: 4em;

    .headlines {
      padding-top: 4em;

      .headline-cap {
        font-size: 2rem;
        line-height: .9;
      }

      .headline-lean {
        font-size: 1.8rem;
      }

      .info {
        font-size: 1.2rem;
        line-height: 1.5;
      }
    }    
  }

  .match-dark {
    .explanation {
      position: absolute;
      margin: 0 2em;
      top: -3em;

      background-color: $light-green;
      background-color: rgba(150,205,198, 0.7);
      color: $primary-black;
      padding: 1.5em;
      text-align: center;
    }

    img.hand-held {
      position: absolute;
      width: 45%;
      bottom: 0;
      right: -1em;
      display: none;
    }
  }
}

.interior-page.page-2 {
  .breadcrumbs {
    display: none;
  }

  .match-light .headlines {
    .headline-cap {
      font-size: 1.1rem;
      line-height: 1;
    }

    .info {
    }
  }

  .match-dark {
    .pie-chart {
      display: none;
      position: absolute;
      top: -7em;
    }

    .chart-legend {
      position: absolute;
      width: 100%;
      bottom: 0;
    } 
  }
}

.interior-page.page-3 {
  .breadcrumbs {
    display: none;
  }

  .match-light {
    .question {
      position: absolute;
      bottom: .5em;
      left: 1.5em;
      right: 1.5em;
      height: 3.4em;

      .headline-lean {
        text-align: center;
        font-size: 1.4rem;        
      }

      img.parenthesis {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
      }
    }
  }

  .match-dark {
    background-color: $primary-white;
  }

  .match-light .headlines {
    .headline-cap {
      font-size: 1.6rem;
      line-height: 1;
    }

    .info {
      margin-top: 1em;
    }

    .headline-lean {
      font-size: 1.5em;
      margin-top: 1em;
      text-align: center;
    }
  }

  .match-dark .formats-category {
    padding: 0 2em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    .headline-cap {
      text-align: center;
      width: calc(100%);
      display: inline-block;
      background-color: $primary-white;
      padding: 1em .5em .7em .5em;
      margin: .5em 0;
      color: $primary-white;
    }

    .headline-cap:nth-child(1) { background-color: $first; }
    .headline-cap:nth-child(2) { background-color: $second; }
    .headline-cap:nth-child(3) { background-color: $deep-blue; }
    .headline-cap:nth-child(4) { background-color: $ocean-deep; }
  }
}

.interior-page.page-4 {
  .match-dark {
    top: 0;
    height: 30vh;
    padding-top: 4em;
    background-color: $gray;
    /* border-right: 1px solid $ocean-deep; */

    .formats-category {
      position: absolute;
      width: 100%;
      left: 0;
      top: 4em;
      bottom: 0;
      text-align: center;

      .main-cta {
        display: inline-block;
        margin: .75em;
        font-size: 1rem;
      }

      .inner-nav {
        height: calc(100% - 3em);
        overflow-x: scroll;

        .x-scroll-container {
          width: 30em;
          margin: 0 auto;
          position: relative;
          top: 50%;
          transform: translateY(-50%);

          .headline-cap {
            display: block;
            float: left;
            width: 10em;
            line-height: 1.3;
            text-align: center;
            color: rgb(204, 204, 204);

            span {
              display: block;
            }

            &.active { color: $primary-black; }
          }
        }
      }
    }
  }

  .match-light {
    top: 30vh;
    height: 70vh;

    .formats-elaboration {
      position: absolute;
      height: 100%;
      width: 100%;
      bottom: 0;
      left: 0;

      .format {
        visibility: hidden;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;

        &.active {
          visibility: visible;
        }

        .header {
          margin: 2.5em 1em;

          .headline-lean { font-size: 1.2rem; text-align: center; }
          .headline-cap { font-size: 1.6rem; text-align: center; }
          .label {
            margin: 2em 0 0 0;
            font-size: .7rem;
          }
        }

        .videos {
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          top: 9em;
          padding: 0 1em 1em 1em;
          overflow-y: scroll;

          .video-container {
            margin: 0 0 3em 0;

            video {
              width: 100%;
            }

            .name {
              margin: 1em 0 2em 0;
              font-size: .7rem;

              strong {
                font-family: Meltow;
                font-size: 1.2em;
              }
            }
          }
        }
      }
    }
  }
}
