/* ==========================================================================
   Interaction
   ========================================================================== */

.section-formats {
  .headline-part,
  .elaboration-part {
    transition: opacity 300ms ease-out, visibility 0ms ease-out 300ms;
    visibility: hidden;
    opacity: 0;
  }
}

.active-0 .page-0,
.active-1 .page-1,
.active-2 .page-2,
.active-3 .page-3,
.active-4 .page-4,
.active-5 .page-5,
.active-6 .page-6 {
  transition: opacity 600ms ease-in 300ms;
  visibility: visible;
  opacity: 1;
}

.active-2 .page-3 {
  transition: none;
}

.active-3 .page-2 {
  transition: opacity 300ms ease-out;

  .headline-part,
  .elaboration-part {
    transition: none;
  }  
}