/* ==========================================================================
   Interaction
   ========================================================================== */

.section-formats {
  .interior-page {
    transition: opacity 300ms ease-out 300ms;
    opacity: 0;

    /* .match-dark {
      transition: transform 600ms ease-out 300ms;
      transform: translateY(80px);
    }

    .match-light {
      transition: transform 900ms ease-out 300ms;
      transform: translateY(120px);
    } */
  }
}

.interior-page.active {
  /* transition: opacity 600ms ease-in 300ms; */
  opacity: 1;

  /* .match-dark,
  .match-light {
    transform: translateY(0px);
  } */
}


/* .stage-showcase  */
.fixed-frame .part-dark {
  transition: all 600ms;
  transition-property: width, height;
}

.formats-category {
  transition: opacity 300ms;
}

.stage-intro {
  .page-3 .formats-category {
    opacity: 1;
  }

  .page-4 .formats-category {
    opacity: 0;
  }
}

/* from page 3 to page 4 */
.stage-showcase {
  .page-3 .formats-category {
    opacity: 0;
  }

  .page-4 .formats-category {
    opacity: 1;
  }
}



