/* ==========================================================================
   Fixed frame that persists throughout the interaction
   ========================================================================== */

.breadcrumbs {
  position: fixed;
  top: 3.5em;
  left: 15em;
  z-index: 100;
}

.fixed-frame {
  position: fixed;
  bottom: 0;
  right: 0;
  top: 0;
  left: 12em;
  z-index: 0;

  .part-light {
    position: absolute;
    height: 50%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: $primary-white;
  }

  .part-dark {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background-color: $gray;
  }
}

body.stage-showcase .fixed-frame {
  .part-dark {
    bottom: 0;
    left: 0;
    height: 100%;
    width: 30em;
  }

  .part-light {
    height: 100%;
    left: 30em;
    right: 0;
    top: 0;
  }
}


/* ==========================================================================
   Section in site wrapper (.site-wrapper -> .section-formats)
   ========================================================================== */

.section-formats .interior-page {
  position: relative;
  height: 100vh;

  .match-light,
  .match-dark {
    position: absolute;
  }

  &.page-1,
  &.page-2,
  &.page-3 {
    .match-light {
      height: 50%;
      width: 100%;
      left: 0;
      top: 0;

      .headlines {
        position: absolute;
        top: 8em;
        left: 3.5em;

        .info {
          font-size: 1.2rem;
        }  
      }
    }

    .match-dark {
      height: 50%;
      width: 100%;
      left: 0;
      top: 50%;
    }    
  }

  &.page-4,
  &.page-5 {
    .match-dark {
      height: 100%;
      width: 30em;
      left: 0;
      top: 0;
    }

    .match-light {
      height: 100%;
      left: 30em;
      right: 0;
      top: 0;

      .format-elaboration {
        height: calc(100% - 8em);
        margin: 4em;
        position: relative;

        .header {
          position: absolute;
          top: 4em;
          left: 0;

          .headline-lean {
            font-size: 3rem;
          }

          .headline-cap {
            font-size: 5rem;
          }
        }
      }
    }    
  }
}


/* ==========================================================================
   Pages
   ========================================================================== */

.page-1 {
  .match-light .headlines {
    .headline-cap {
      font-size: 7rem;
      line-height: .9;
    }

    .info {
      font-size: 1.2rem;
      line-height: 1.5;
    }
  }

  .match-dark .explanation {
    position: absolute;
    width: 19em;
    right: 3em;
    top: -3.5em;

    background-color: $light-green;
    font-family: $content-font;
    color: $primary-black;
    padding: 1.5em;
    font-size: 2rem;
    text-align: left;
  }
}

.page-2 {
  .match-light .headlines {
    .headline-cap {
      font-size: 3rem;
    }

    .info {
      margin-top: 1em;
    }
  }

  .match-dark {
    .pie-chart {
      position: absolute;
      height: 600px;
      top: -300px;
      right: 8em;
    }

    .chart-legend {
      position: absolute;
      left: 0;
      top: 0;
      height: 80%;
    } 
  }
}

.page-3 {
  .match-light .headlines {
    .headline-cap {
      margin: 1em 0 .5em 0;
    }

    .headline-cap:nth-child(3),
    .headline-cap:nth-child(4) {
      padding: .5em 1.5em .2em 1.5em;
    }
  }

  .match-dark .formats-category {
    padding: 4em 20em;

    .headline-cap {
      float: left;
      text-align: center;
      width: calc(50% - 1em);
      font-size: 2.4rem;
      display: inline-block;
      color: $medium-green;
      background-color: $primary-white;
      padding: 1em .5em .7em .5em;
      margin: .5em .5em;;
    }
  }
}

.page-4,
.page-5 {
  .match-dark .formats-category {
    @extend vertical-align;
    margin: 0 4em;

    h3.headline-cap {
      font-size: 1.8rem;
      margin-bottom: .8em;
    }

    a.headline-cap {
      display: block;
      font-size: 1.3rem;
      margin: 1em .5em;

      &:before {
        content: '❯';
        position: relative;
        left: -.5em;
      }

      &.active,
      &.active:before {
        color: $tangerine !important;
      }
    }    
  }

  .video-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    .label {
      text-align: left;
      margin: .5em 0;
      font-family: Caecilia-Light;
    }

    video {
      width: 100%;
    }

    .name {
      text-align: left;
      margin: .5em 0;

      strong {
        font-family: Meltow;
        font-size: 1.2rem;
      }
    }
  }
}



/* .active-3,
.active-4 {
  .breadcrumbs {
    z-index: 10;
  }

  .headlines {
    top: 0;
    left: 0;
    width: 30em;
    bottom: 0;
    z-index: 1;
    background-color: $gray;

    .headline-part {
      top: 40vh;
      bottom: 0;
      left: 5em;
      right: 5em;
      background-color: $gray;
    }
  }

  .elaboration {
    height: 100vh;
    left: 30em !important;
    background-color: $primary-white;
  }

} */






