@media (--mobile-m) {
  .interior-page.page-2 {
    .ceros-content-mobile { transform: translateY(-45%); }

    .match-light .headlines {
      padding: 2em 2em 0 2em;
    }
  }

  .interior-page.page-3 {
    .match-light {
      height: 40vh;
    }

    .match-dark {
      top: 40vh;
      height: calc(60vh - 4em);

      .formats-category .headline-cap { font-size: 1rem; }
    }
  }

  .interior-page.page-4 {
    .match-dark .formats-category {
      .main-cta {
        padding: .6em .6em .3em .6em;
        margin: 1em;
      }

      .inner-nav {
        height: calc(100% - 4em);
      }
    }
  }
}

@media (--mobile-l) {
  .interior-page.page-3 {
    .match-light .question {
      height: 4em;
    }
  }

  .interior-page.page-4 {
    .match-dark .formats-category {
      .main-cta {
        padding: .75em .75em .45em .75em;
        margin: 1.25em;
      }

      .inner-nav {
        height: calc(100% - 5em);
      }
    }
  }
}


@media (--desktop-s) {
  .breadcrumbs {
    top: 2.5em;
    left: 2em;
  }

  .section-formats {
    margin-top: 0;
  }

  .interior-page {
    height: 100vh;

    &.page-1,
    &.page-2,
    &.page-3 {
      .breadcrumbs {
        display: block;
      }

      .match-light {
        padding-top: 0;
        height: 50vh;

        .headlines {
          position: absolute;
          padding: 0;
          top: 50%;
          left: 3em;
          transform: translateY(-50%);

          .headline-cap { font-size: 4rem; text-align: left; }
          .headline-lean { font-size: 3rem; text-align: left; }
          .info { text-align: left; }
        }
      }

      .match-dark {
        top: 50vh;
        height: 50vh;
      }
    }  
  }

  .interior-page.page-1 {
    .match-light .headlines {
    }

    .match-dark {
      .explanation {
        width: 19em;
        margin: 0;
        left: 2.7em;
        font-size: 1.3rem;
        text-align: left;
      }

      img.hand-held {
        display: block;
      }
    }
  }

  .interior-page.page-2 {
    .ceros-content-mobile { display: none; }
    .ceros-content-desktop { display: block; }

    .match-light .headlines {
      width: 28em;

      .headline-cap { font-size: 2rem; }
      .info {
        width: 87%;
      }
    }

    .match-dark {
      text-align: left;

      .pie-chart {
        display: block;
        width: 300px;
        right: 4em;
        top: -10em;
      }

      .chart-legend {
        height: 100%;
        width: auto;
        display: none;
      }
    }
  }

  .interior-page.page-3 {
    .match-light {

      .headlines {
        width: 28em;

        .headline-cap { font-size: 3rem; }
        .headline-lean { font-size: 2.3rem; }
        .info { width: 70%; }
      }

      .question {
        width: 20em;
        margin: 0 auto;
        height: 4.3em;
        bottom: 1em;

        .headline-lean { font-size: 1.6rem; }
        /* img.parenthesis { transform: scale(0.8); } */
      }
        
    }

    .match-dark {
      background-color: $gray;

      .formats-category {
        .headline-cap {
          float: left;
          width: calc(50% - 2em);
          height: 8em;
          margin: 1em;
          padding: 0;
          line-height: 8em;
        }

        /* .headline-cap:nth-child(3),
        .headline-cap:nth-child(4) {
          padding: .5em 1.5em .2em 1.5em;
        } */
      }
    }
  }

  .interior-page.page-4 {
    .match-dark {
      height: 100%;
      width: 18em;
      left: 0;
      top: 0;
      padding: 0;
      background-color: $primary-white;

      .formats-category {
        position: relative;
        text-align: left;
        padding: 0 2em;
        top: 50%;
        transform: translateY(-50%);

        .main-cta {
          margin: 0;
          border: none;
          padding: 0;
        }

        .inner-nav {
          height: auto;
          overflow-x: hidden;

          .x-scroll-container {
            width: auto;
            top: 0;
            transform: none;
            padding: 1em 0;

            .headline-cap {
              width: auto;
              float: none;
              text-align: left;
              line-height: 1.8;

              &:before {
                position: relative;
                content: '❯';
                left: -0.5em;
                margin-left: .5em;
              }

              span {
                display: inline;
              }
            }
          }      
        }
      }
    }

    .match-light {
      height: 100%;
      left: 18em;
      right: 0;
      top: 0;
      width: auto;

      .formats-elaboration {
        height: calc(100% - 4em);
        margin: 2em;
        width: auto;
        position: relative;

        .format {

          .header {
            position: absolute;
            left: 0;
            top: 0;
            margin: 1em;


            .headline-lean {
              font-size: 2rem;
              text-align: left;
            }

            .headline-cap {
              font-size: 2.5rem;
              text-align: left;
            }

            .label {
              margin-top: 2em;
            }
          }

          .videos {
            top: 10em;

            .video-container {
              margin-bottom: 2em;

              img { display: none; }
              video { display: block; }
              .name { font-size: .8rem; }
            }               
          }

       
        }
      }
    }    
  }
}