/* ==========================================================================
   Hero Section
   ========================================================================== */

/* single-liner works like this */
body {
  opacity: 1 ?if media (min-width: $mobile-m-width);
}

@media (--desktop-s) {
  .hero-content,
  .hero-carousel {
    height: 100vh;
  }

  .hero-content {
    .humans {
      bottom: 0;
    }

    .main-message {
      transform: translateY(-50%);
      top: 50%;
      left: 4em;
      padding: 0;
      background-color: transparent;
      color: $primary-black;

      .headline-cap {
        font-size: 3rem;
        line-height: 1;
        text-align: left;
      }

      .headline-lean {
        font-size: 2.5rem;
        text-align: left;
      }
    }

    .arrow-down {
      font-size: 3rem;
      bottom: .5em;

      &:hover {
        cursor: pointer;
      }
    }
  }
}


/* ==========================================================================
   Carousel Section
   ========================================================================== */

@media (--mobile-m) {
  .hero-carousel .slide-inner .headlines {
    top: 5em;
  }
}

@media (--mobile-l) {
  .hero-carousel .slide-inner .headlines {
    top: 6em;
  }
}

@media (--desktop-s) {
  .hero-carousel .slide-inner {
    .main-cta {
      right: auto;
      left: 1em;
      width: auto;
    }

    .headlines {
      .headline-lean {
        font-size: 2.5rem;
      }

      .headline-cap {
        font-size: 2.5rem;
        line-height: 1.2;
        margin: 0;
      }
    }

    .more-info {
      width: auto;
      left: auto;
      bottom: auto;
      padding: 0;
      text-align: left;

      .description {
        color: $ocean-deep;
        font-size: .9rem;
        text-align: left;
      }
    }

    .visual-pattern {
      background: none;
      img { display: none; }

      video {
        display: block;
        /* position: absolute; */
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
        z-index: 1;
      }
    }
  }

  .hero-carousel .slide-formats {
    .headlines {
      left: auto;
      right: 2em;
      top: 4em;
      width: $desktop-s-content-width;
    }

    .more-info {
      width: $desktop-s-content-width;
      right: 2em;
      top: 10em;
    }

    .visual-pattern {
      video {
        transform: translateY(-25%);
      }
    }
  }

  .hero-carousel .slide-insights {
    .headlines {
      left: auto;
      right: 2em;
      top: 4em;
      width: 30em;
    }

    .more-info {
      width: 30em;
      right: 2em;
      top: 10em;
    }

    .visual-pattern {
      video {
        transform: translateY(-50%);        
      }
    }
  }

  .hero-carousel .slide-marketplace {
    .headlines {
      left: 4em;
      width: 30em;
      right: auto;
    }

    .more-info {
      top: 10em;
      left: 4em;
      width: 30em;
    }

    .visual-pattern {
      video {
        top: auto;
        bottom: 0;
      }
    }
  }
}


@media (--desktop-l) {  
  .hero-carousel .slide-formats {
    .visual-pattern video {
      transform: translateY(50%);      
    }
  }

  .hero-carousel .slide-insights {
    .visual-pattern video {
      transform: translateY(45%);      
    }
  }

  .hero-carousel .slide-marketplace {
    .visual-pattern video {
      transform: translateY(5%);
    }
  }
}
