.site-wrapper {
  .hero-content,
  .hero-carousel {
    position: relative;
    background-color: $primary-white;
  }

  /* TODO: temp placeholder, to remove */
  h3 {
    font-size: 2.5em;
    line-height: 100vh;
  }
}


.hero-content {
  img.humans {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .main-message {
    position: absolute;
    bottom: 0;

    .headline-lean {
      margin-top: .5em;
    }
  }

  .arrow-down:after {
    @extend horizontal-align;
    position: absolute;
    transform: translateX(-50%) rotate(-45deg);
  }
}

.hero-carousel {
  .slide-wrapper {
    height: 100vh;
    position: relative;
    background-color: $primary-white;
    overflow: hidden;

    .main-cta {
      position: absolute;
      left: 1.5em;
      top: 1.5em;
      z-index: 1;
    }

    .main-message {
      font-size: 1rem;
      position: absolute;
      right: 4em;
      top: 4em;
      text-align: left;
      width: 36em;
      color: $ocean-deep;

      .description {
        font-family: $content-font;
        margin-top: 2em;
        margin-right: 6em;
        margin-bottom: 2em;
      }
    }

    a {
      text-decoration: none;
    }

    img {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }

  .slick-dots {
    position: absolute;
    bottom: 3em;
    margin: 0 auto;
    @extend horizontal-align;

    li {
      display: inline-block;
      width: 1em;
      height: 1em;
      margin: 0 .5em;
      border: 2px solid $tangerine;
      border-radius: 50%;

      button {
        visibility: hidden;
      }
    }
  }
}


/* ==========================================================================
   Individual Slides
   ========================================================================== */

.hero-carousel .slide-formats {
  img.pattern-formats {
    display: none;
  }
}

.hero-carousel .slide-marketplace {
  .main-message {
    right: auto;
    top: 12em;
    left: 8em;
    z-index: 1;
  }
}

















.ocean {
  background-color: $ocean-deep;
  position:absolute;
  height: 25vh;
  width:100%;
  bottom:0;
  left:0;

  .bottom {
    position: absolute;
    width: 100%;
    background-color: $ocean-deep;
    height: 100%;
    bottom: 0;
    z-index: 10;
    /* display: none; */
  }

  .wave {
    position: absolute;
    bottom: 25vh;
    width: 1600px;
    /* transform: translate3d(0, 0, 0); */
    /* animation:  */
  }

  .wave:nth-of-type(1) {
    transform: translate3d(-50%, 0%, 0) scale(1.5);
    z-index: 4;
  }

  .wave:nth-of-type(2) {
    transform: translate3d(40%, -20%, 0) scale(1.7);
    z-index: 3;
  }

  .wave:nth-of-type(3) {
    transform: translate3d(-30%, -50%, 0) scale(1.9);
    z-index: 2;
  }

  .wave:nth-of-type(4) {
    transform: translate3d(25%, -80%, 0) scale(2.1);
    z-index: 1;
  }

  /* .wave:nth-of-type(1) svg.shape { animation: wave 4s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite; } */
  .wave:nth-of-type(1) svg.shape { animation: shift-right 16s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite  0s ; }
  .wave:nth-of-type(2) svg.shape { animation: shift-left 16s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite  0s ; }
  .wave:nth-of-type(3) svg.shape { animation: shift-right 16s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite  0s ; }
  .wave:nth-of-type(4) svg.shape { animation: shift-left 16s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite  0s ; }

  .wave:nth-of-type(1) svg.shape path { fill: color($ocean-deep shade(0%)); }
  .wave:nth-of-type(2) svg.shape path { fill: color($ocean-deep whiteness(100%)); }
  .wave:nth-of-type(3) svg.shape path { fill: color($ocean-deep whiteness(50%)); }
  .wave:nth-of-type(4) svg.shape path { fill: color($deep-blue shade(10%)); }
}




@keyframes shift-left {
  0%, 100 {
    transform: translate3d(0,0,0) scale(1);
  }
  50% {
    transform: translate3d(-800px, 0px,0) scale(1.2);
  }
}

@keyframes shift-right {
  0%, 100 {
    transform: translate3d(0,0,0) scale(1);
  }
  50% {
    transform: translate3d(800px, 0px,0) scale(1.2);
  }
}

