/* ==========================================================================
   Hero Section
   ========================================================================== */

/* single-liner works like this */
body {
  opacity: 1 ?if media (min-width: $mobile-m-width);
}

@media (--mobile-l) {
  .hero-content,
  .hero-carousel {
    height: calc(100vh - 4em);
  }

  .hero-content {
    img.humans {
      height: 130%;
      top: -150px;
      right: -300px;
    }

    .main-message {
      padding: 1.5em 1.5em 3em 1.5em;
      background-color: $ocean-deep;
      color: $primary-white;
    }

    .arrow-down:after {
      bottom: .1em;
    }
  }
} 

@media (--desktop) {
  .hero-content,
  .hero-carousel {
    height: 100vh;
  }

  .hero-content {
    img.humans {
      height: 150%;
      bottom: 0;
      bottom: -450px;
      right: 0;
      right: -800px;
    }

    .main-message {
      margin: 4em;
      width: 32em;
      @extend vertical-align;

      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }

    .arrow-down:after {
      bottom: .5em;
    }
  }
}





/* ==========================================================================
   Hero Section
   ========================================================================== */

.hero-carousel .slide-formats {
}

@media (--mobile-l) {
  .hero-carousel {
    .slide-wrapper {
      .main-cta {
        width: 8em;
        right: 0;
        left: 0;
        top: 0;
        margin: 1em auto;
      }

      .main-message {
        z-index: 2;
        top: 4em;
        bottom: 4em;
        margin: 2em 2em 4em 2em;

        .more-info {
          position: absolute;
          bottom: 0;
          color: $primary-white;

          .description {
            margin: 1.5em 3em 1.5em 0;
          }

          .inline-cta {
            color: rgb(93, 178, 168);
          }
        }
      }

      .visual-pattern {
        z-index: 1;
        bottom: 0em;

        img {
          position: relative;
          width: 300%;
          left: -150%;
        }
      }
    }

    .slide-formats {


      .main-message {
        left: 0;
        right: 0;
      }
    }

    .slick-dots {
      bottom: .5em;
    }
  }
}

@media (--desktop) {
  .hero-carousel {
    .slide-wrapper {
      .main-cta {
        left: 1.5em;
        top: 1.5em;
      }

      .main-message {
        font-size: 1rem;
      }
    }

    .slide-formats {
      .main-message {
        width: 36em;
        right: 4em;
        top: 4em;
      }
    }

    .slide-insights {
      .main-message {
        width: 36em;
        right: 4em;
        top: 4em;
      }
    }

    .slide-marketplace {
      .main-message {
        right: auto;
        top: 12em;
        left: 8em;
      }
    }
  }
}


