/* ==========================================================================
   Pages
   ========================================================================== */

.section-marketplace .page-1 {
  .match-light {
  }

  .match-dark {
    .explanation {
      position: absolute;
      margin: 0 2em;
      top: -3em;

      background-color: rgba(91, 164, 156, 0.95);
      color: $primary-white;
      padding: 1.5em;
      text-align: center;

      span {
        font-family: MeltowSan200-Regular;
        font-size: 1.5em;
        line-height: 1;
      }


      i {
        font-size: 0.6em;
      }
    }

    .footnote {
      font-size: 0.6rem;
      margin: 12em 3em 0 3em;
      text-align: center;
    }
  }
}