@font-face {
font-family: 'Apercu-Bold-JFfIPIzI';
font-style: normal; 
font-weight: 400; 
unicode-range: U+0020-FB02;
src: url('../../fonts/724c13c0-462a-4833-bf5b-1100767e7af8/apercu-bold.woff') format('woff');
}