{{ define "main" }}
<div class="section-wrapper section-emp">
  <div class="interior-page page-1">
    <ul class="breadcrumbs"><span>Tools</span><span> > EMP™ Beta</span></ul>

    <div class="match-light">
      <div class="headlines">
        <h2 class="headline-lean">Capture, and keep,</h2>     
        <h1 class="headline-cap">CUSTOMERS'<br>ATTENTION.</h1>   
      </div>
    </div>

    <div class="match-dark">
      <p class="description">46% of marketers report that "the current metrics (clicks, viewability, etc.) used to mea- sure performance aren’t effective." How can you expect to know your customers with in- adequate metrics? Our highly-engaging and reader-preferred ad formats elicit more than just clicks and views. Our formats track billions of micro-engagements—every swipe, scroll, tilt, play—so you can really understand customers’ intentions. Only then can you truly connect.</p>

      <img class="pattern" src='{{ "_videos/dots.gif" | absURL }}'>
      <video class="pattern" playsinline autoplay loop src='{{ "_videos/dots-square.mp4" | absURL }}'></video>
      <p class="caption"><b>CAPTION: </b>Caption text here</p>
    </div>
  </div>

  <div class="interior-page page-2">
    <div class="match-light">
      <div class="headlines">
        <h1 class="headline-cap">SEE THE FULL POWER OF YIELDMO ENGAGEMENT METRICS:</h1>
      </div>
      <p class="description"> As the world’s first Engagement Management Platform (EMPTM) our data reveals the truth about what matters to people, what piques curiosity, what triggers a second—even third—glance. For the first time, you can see how engagement—every nuanced interac- tion—leads to performance gains. You get smarter campaigns, and a much greater return on your ad spend.</p>
      <img class="" src='{{ "_images/emp-screenshot.jpg" | absURL }}'>
      <p>The Yieldmo EMP is a self-service system for creating, managing, and analyzing engaging advertising campaigns at scale.
It’s a quick process:</p>
    </div>
  </div>
</div>
{{ end }}