{{ define "main" }}
<div id="sectionFormats" class="section-wrapper section-formats">
  <div class="interior-page page-1" data-anchor="page-intro">
    <ul class="breadcrumbs"><span>Products</span><span> > Formats</span></ul>

    <div class="match-light">
      <div class="headlines">
        <h1 class="headline-cap">Breakthrough<br>Design</h1>
        <h2 class="headline-lean">with your customer in mind.</h2>
      </div>
    </div>

    <div class="match-dark">
      <p class="explanation">
         The seductive click baits and relentless pop-ups are bred from an old, view-and-click desktop world. Our goal is to help you produce advertising that doesn’t interfere with the content your customers seek.
      </p>

      <img class="hand-held" src='{{ "_images/hand-held.png" | absURL }}'>
    </div>
  </div>

  <div class="interior-page page-2" data-anchor="page-chart">
    <div class="match-light">
      <div class="headlines">
        <h3 class="headline-cap">They aren’t just cool ad formats, they are windows into deep understanding.</h3>
        <p class="info" data-role="content">Our formats are built to be non-intrusive, easy-on-the-eye and—dare we say—additive to the experience. As your customers interact with them, we are collecting first-of-its-kind, proprietary engagement data—revealing a deeper understanding of behavior, intent, and preferences.</p>        
      </div>
    </div>

    <div class="ceros-content-mobile" style="position:relative;width:auto;padding:0 0 141.15%;height:0;top:0;left:0;bottom:0;right:0;margin:0;border:0 none" id="experience-59fca6e76754a"><iframe allowfullscreen src="//view.ceros.com/yieldmo/chart-1-1" style="position:absolute;top:0;left:0;bottom:0;right:0;margin:0;padding:0;border:0 none;height:1px;width:1px;min-height:100%;min-width:100%" frameborder="0" class="ceros-experience"  scrolling="no"></iframe></div>

    <div class="ceros-content-desktop" style="position:relative;width:auto;padding:0 0 56.25%;height:0;top:0;left:0;bottom:0;right:0;margin:0;border:0 none" id="experience-59f77d551eb47"><iframe allowfullscreen src="//view.ceros.com/yieldmo/chart-1" style="position:absolute;top:0;left:0;bottom:0;right:0;margin:0;padding:0;border:0 none;height:1px;width:1px;min-height:100%;min-width:100%" frameborder="0" class="ceros-experience"  scrolling="no"></iframe></div><script type="text/javascript" src="//view.ceros.com/scroll-proxy.min.js"></script>

    <div class="match-dark"></div>
  </div>

  <div class="interior-page page-3" data-anchor="page-format-list">
    <div class="match-light">
      <div class="headlines">
        <h3 class="headline-cap">Format Studio</h3>
        <p class="info" data-role="content">Every Yieldmo format is informed by deep consumer insight and rigorous A/B testing. Each format offers a fully-optimized user experience.</p>
      </div>
      <div class="question">
        <h3 class="headline-lean">What's your marketing objective?</h3>
        {{ partial "svg/parenthesis.svg" . }}
      </div>
      
    </div>
    <div class="match-dark">
      <div id="formatsCategory" class="formats-category clearfix">
        <a class="headline-cap" data-index="1" href="#page-format-brand">Grow Awareness</a>
        <a class="headline-cap" data-index="2" href="#page-format-consideration">Drive Consideration</a>
        <a class="headline-cap" data-index="3" href="#dr">Spur Action</a>
        <a class="headline-cap" target="_blank" href="https://formats.yieldmo.com/">Explore Full Portfolio</a>
      </div>
    </div>
  </div>

  <div class="interior-page page-4" data-anchor="page-formats-showcase">
    <div class="match-dark">
      <div class="formats-category">
        <h3 class="main-cta">Featured Formats</h3>
        <div id="innerNav" class="inner-nav">
          <div class="x-scroll-container clearfix">
            <a class="headline-cap active" data-index="1" href="#page-format-brand">Grow <span>Awareness</span></a>
            <a class="headline-cap" data-index="2" href="#page-format-consideration">Drive <span>Consideration</span></a>
            <a class="headline-cap" data-index="3" href="#dr">Spur <span>Action</span></a>
          </div>
        </div>
      </div>      
    </div>

    <div class="match-light">
      <div id="formatsElaboration" class="formats-elaboration">
        <div class="format brand active">
          <div class="header">
            <h2 class="headline-lean">Brand formats: Get noticed.</h2>
            <h1 class="headline-cap">Grow Awareness</h1>
            <p class="label">FEATURED BRAND FORMATS:</p>
          </div>

          <div class="videos">
            <div class="video-container">
              <img src='{{ "_images/formats/Windowplay.png" | absURL }}'>
              <video playsinline autoplay loop crossorigin="anonymous" preload="auto">
                <source src='{{ "_videos/Windowplay.mp4" | absURL }}' type='video/mp4'>
              </video>
              <p class="name"><strong>Windowplay:</strong> An outstream video wrapped in eye-catching, interactive brand imagery and CTA.</p>
            </div>
            <div class="video-container">
              <img src='{{ "_images/formats/Wrapper.png" | absURL }}'>
              <video playsinline autoplay loop crossorigin="anonymous" preload="auto">
                <source src='{{ "_videos/Wrapper.mp4" | absURL }}' type='video/mp4'>
              </video>
              <p class="name"><strong>WRAPPER:</strong> A non-intrusive mobile sponsorship takeover format.</p>
            </div>
            <div class="video-container">
              <img src='{{ "_images/formats/Hyperscroller.png" | absURL }}'>
              <video playsinline autoplay loop crossorigin="anonymous" preload="auto">
                <source src='{{ "_videos/Hyperscroller.mp4" | absURL }}' type='video/mp4'>
              </video>
              <p class="name"><strong>Hyperscroller:</strong> An interactive “scroll to control” flipbook format with maximum brand exposure.</p>
            </div>  
          </div>
        </div>

        <div class="format consideration">
          <div class="header">
            <h2 class="headline-lean">Consideration formats: Encourage exploration.</h2>
            <h1 class="headline-cap">Drive Consideration.</h1>
            <p class="label">FEATURED CONSIDERATION FORMATS:</p>
          </div>

          <div class="videos">
            <div class="video-container">
              <img src='{{ "_images/formats/Pull.png" | absURL }}'>
              <video playsinline autoplay loop crossorigin="anonymous" preload="auto">
                <source src='{{ "_videos/Pull.mp4" | absURL }}' type='video/mp4'>
              </video>
              <p class="name"><strong>PULL:</strong> An interactive format with three scrollable, sequential creatives.</p>
            </div>
            <div class="video-container">
              <img src='{{ "_images/formats/Mainstage.png" | absURL }}'>
              <video playsinline autoplay loop crossorigin="anonymous" preload="auto">
                <source src='{{ "_videos/Mainstage.mp4" | absURL }}' type='video/mp4'>
              </video>
              <p class="name"><strong>Mainstage:</strong> A swipeable carousel featuring a permanent call-to-action and interactive asset flexibility.</p>
            </div>
          </div>
        </div>

        <div class="format dr">
          <div class="header">
            <h2 class="headline-lean">Direct Response formats: Spur action.</h2>
            <h1 class="headline-cap">Drive Conversions.</h1>
            <p class="label">FEATURED DIRECT RESPONSE FORMATS:</p>
          </div>

          <div class="videos">
            <div class="video-container">
              <img src='{{ "_images/formats/Ticker.png" | absURL }}'>
              <video playsinline autoplay loop crossorigin="anonymous" preload="auto">
                <source src='{{ "_videos/Ticker.mp4" | absURL }}' type='video/mp4'>
              </video>
              <p class="name"><strong>TICKER:</strong>A countdown format creating urgency and driving action.</p>
            </div>
            <div class="video-container">
              <img src='{{ "_images/formats/Feature.png" | absURL }}'>
              <video playsinline autoplay loop crossorigin="anonymous" preload="auto">
                <source src='{{ "_videos/Feature.mp4" | absURL }}' type='video/mp4'>
              </video>
              <p class="name"><strong>FEATURE:</strong>A native text and image format with prominent brand imagery.</p>
            </div>            
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end of page 4 -->
</div>
{{ end }}

{{ define "scripts"}}
  {{ partial "site-scripts" . }}
  <script type="text/javascript"> window.section = "formats" </script>
  <!-- <script type="text/javascript" src='{{ "js/plugins/slick.min.js" | absURL }}'></script> -->
{{ end }}