{{ define "main" }}
<div id="sectionMarketplace" class="section-wrapper section-marketplace">
  <div class="interior-page page-1">
    <ul class="breadcrumbs"><span>Products</span><span> > Marketplace</span></ul>

    <div class="match-light">
      <div class="headlines">
        <h1 class="headline-cap">PRIME<br>PLACEMENT</h1>
        <h2 class="headline-lean">on premium inventory.</h2>        
      </div>
    </div>

    <div class="match-dark">
      <p class="explanation">
        <span>THE LARGEST</span> independent mobile marketplace in the U.S. <i>(verified by comscore)</i>
      </p>

      <p class="footnote">
        According to comScore, Yieldmo has a verified actual reach of more than 141 million unique monthly mobile visitors—roughly 80% of the addressable market in the U.S.—making it the largest independent mobile network in the U.S. behind Google, Facebook, Amazon and Yahoo.
        <br><br>
        Our premium inventory is comprised of more than 1,400 of the top mobile destinations that span e-commerce, sports, news, lifestyle and entertainment. Our inventory is comprised exclusively of premium publishers which includes CNN, Condé Nast, Time Inc., Vox Media, The New York Times and Univision.      
      </p>
    </div>    
  </div>
  <div class="interior-page page-2">
    <div class="match-dark">
      <div class="stat-container clearfix">
        <div class="statline">
          <h3 class="headline-lean">Quality Reach</h3>
          {{ partial "svg/parenthesis.svg" . }}
        </div>      
        <p class="info">
          <strong>80%</strong>
          U.S. smartphone users <i>(comscore)</i>
          <strong>99.4%</strong>
          Fraud-free <i>(MOAT)</i>
        </p>
        
      <div class="publishers-mask">
        <div class="credit-roll">
          <div class="whoweworkwith">
            <img src='{{ "_images/publishers/allure.png" | absURL }}'>
            <img src='{{ "_images/publishers/AMI.png" | absURL }}'>
            <img src='{{ "_images/publishers/ArsTechnica.png" | absURL }}'>
            <img src='{{ "_images/publishers/BleacherReport.png" | absURL }}'>
            <img src='{{ "_images/publishers/BonAppetit.png" | absURL }}'>
            <img src='{{ "_images/publishers/ChicagoTribune.png" | absURL }}'>
            <img src='{{ "_images/publishers/CNTraveler.png" | absURL }}'>
            <img src='{{ "_images/publishers/CNN.png" | absURL }}'>
            <img src='{{ "_images/publishers/CNNenEspanoll.png" | absURL }}'>
            <img src='{{ "_images/publishers/CoastalLiving.png" | absURL }}'>
            <img src='{{ "_images/publishers/Complex.png" | absURL }}'>
            <img src='{{ "_images/publishers/CondeNast.png" | absURL }}'>
            <img src='{{ "_images/publishers/CookingLight.png" | absURL }}'>
            <img src='{{ "_images/publishers/Curbed.png" | absURL }}'>
            <img src='{{ "_images/publishers/DotDash.png" | absURL }}'>
            <img src='{{ "_images/publishers/Eater.png" | absURL }}'>
            <img src='{{ "_images/publishers/EntertainmentWeekly.png" | absURL }}'>
            <img src='{{ "_images/publishers/ExtraCrispy.png" | absURL }}'>
            <img src='{{ "_images/publishers/Fansided.png" | absURL }}'>
            <img src='{{ "_images/publishers/FlightAware.png" | absURL }}'>
            <img src='{{ "_images/publishers/FoodnWine.png" | absURL }}'>
            <img src='{{ "_images/publishers/Fortune.png" | absURL }}'>
            <img src='{{ "_images/publishers/FoxSports.png" | absURL }}'>
            <img src='{{ "_images/publishers/Golf.png" | absURL }}'>
            <img src='{{ "_images/publishers/Health.png" | absURL }}'>
            <img src='{{ "_images/publishers/Hearst.png" | absURL }}'>
            <img src='{{ "_images/publishers/InStyle.png" | absURL }}'>
            <img src='{{ "_images/publishers/LATimes.png" | absURL }}'>
            <img src='{{ "_images/publishers/LastMinute.png" | absURL }}'>
            <img src='{{ "_images/publishers/MensJournal.png" | absURL }}'>
            <img src='{{ "_images/publishers/MLB.com.png" | absURL }}'>
            <img src='{{ "_images/publishers/Money.png" | absURL }}'>
            <img src='{{ "_images/publishers/Mujer.png" | absURL }}'>
            <img src='{{ "_images/publishers/MyRecipes.png" | absURL }}'>
            <img src='{{ "_images/publishers/Parents.png" | absURL }}'>
            <img src='{{ "_images/publishers/PeopleenEspanol.png" | absURL }}'>
            <img src='{{ "_images/publishers/People.png" | absURL }}'>
            <img src='{{ "_images/publishers/PerezHilton.png" | absURL }}'>
            <img src='{{ "_images/publishers/Polygon.png" | absURL }}'>
            <img src='{{ "_images/publishers/Racked.png" | absURL }}'>
            <img src='{{ "_images/publishers/RealSimple.png" | absURL }}'>
            <img src='{{ "_images/publishers/Recode.png" | absURL }}'>
            <img src='{{ "_images/publishers/RollingStone.png" | absURL }}'>
            <img src='{{ "_images/publishers/SBNation.png" | absURL }}'>
            <img src='{{ "_images/publishers/SerPadres.png" | absURL }}'>
            <img src='{{ "_images/publishers/SouthernLiving.png" | absURL }}'>
            <img src='{{ "_images/publishers/SportsIllustrated.png" | absURL }}'>
            <img src='{{ "_images/publishers/ThePostGame.png" | absURL }}'>
            <img src='{{ "_images/publishers/TheStreet.png" | absURL }}'>
            <img src='{{ "_images/publishers/TheVerge.png" | absURL }}'>
            <img src='{{ "_images/publishers/TimeInc.png" | absURL }}'>
            <img src='{{ "_images/publishers/Time.png" | absURL }}'>
            <img src='{{ "_images/publishers/TravelLeisure.png" | absURL }}'>
            <img src='{{ "_images/publishers/Turner.png" | absURL }}'>
            <img src='{{ "_images/publishers/UnivisionDeportes.png" | absURL }}'>
            <img src='{{ "_images/publishers/Univision.png" | absURL }}'>
            <img src='{{ "_images/publishers/USWeekly.png" | absURL }}'>
            <img src='{{ "_images/publishers/VoxMedia.png" | absURL }}'>
            <img src='{{ "_images/publishers/Vox.png" | absURL }}'>
            <img src='{{ "_images/publishers/Wired.png" | absURL }}'>
            <img src='{{ "_images/publishers/CBSi.png" | absURL }}'>
          </div>
          <div class="whoweworkwith">
            <img src='{{ "_images/publishers/allure.png" | absURL }}'>
            <img src='{{ "_images/publishers/AMI.png" | absURL }}'>
            <img src='{{ "_images/publishers/ArsTechnica.png" | absURL }}'>
            <img src='{{ "_images/publishers/BleacherReport.png" | absURL }}'>
            <img src='{{ "_images/publishers/BonAppetit.png" | absURL }}'>
            <img src='{{ "_images/publishers/ChicagoTribune.png" | absURL }}'>
            <img src='{{ "_images/publishers/CNTraveler.png" | absURL }}'>
            <img src='{{ "_images/publishers/CNN.png" | absURL }}'>
            <img src='{{ "_images/publishers/CNNenEspanoll.png" | absURL }}'>
            <img src='{{ "_images/publishers/CoastalLiving.png" | absURL }}'>
            <img src='{{ "_images/publishers/Complex.png" | absURL }}'>
            <img src='{{ "_images/publishers/CondeNast.png" | absURL }}'>
            <img src='{{ "_images/publishers/CookingLight.png" | absURL }}'>
            <img src='{{ "_images/publishers/Curbed.png" | absURL }}'>
            <img src='{{ "_images/publishers/DotDash.png" | absURL }}'>
            <img src='{{ "_images/publishers/Eater.png" | absURL }}'>
            <img src='{{ "_images/publishers/EntertainmentWeekly.png" | absURL }}'>
            <img src='{{ "_images/publishers/ExtraCrispy.png" | absURL }}'>
            <img src='{{ "_images/publishers/Fansided.png" | absURL }}'>
            <img src='{{ "_images/publishers/FlightAware.png" | absURL }}'>
            <img src='{{ "_images/publishers/FoodnWine.png" | absURL }}'>
            <img src='{{ "_images/publishers/Fortune.png" | absURL }}'>
            <img src='{{ "_images/publishers/FoxSports.png" | absURL }}'>
            <img src='{{ "_images/publishers/Golf.png" | absURL }}'>
            <img src='{{ "_images/publishers/Health.png" | absURL }}'>
            <img src='{{ "_images/publishers/Hearst.png" | absURL }}'>
            <img src='{{ "_images/publishers/InStyle.png" | absURL }}'>
            <img src='{{ "_images/publishers/LATimes.png" | absURL }}'>
            <img src='{{ "_images/publishers/LastMinute.png" | absURL }}'>
            <img src='{{ "_images/publishers/MensJournal.png" | absURL }}'>
            <img src='{{ "_images/publishers/MLB.com.png" | absURL }}'>
            <img src='{{ "_images/publishers/Money.png" | absURL }}'>
            <img src='{{ "_images/publishers/Mujer.png" | absURL }}'>
            <img src='{{ "_images/publishers/MyRecipes.png" | absURL }}'>
            <img src='{{ "_images/publishers/Parents.png" | absURL }}'>
            <img src='{{ "_images/publishers/PeopleenEspanol.png" | absURL }}'>
            <img src='{{ "_images/publishers/People.png" | absURL }}'>
            <img src='{{ "_images/publishers/PerezHilton.png" | absURL }}'>
            <img src='{{ "_images/publishers/Polygon.png" | absURL }}'>
            <img src='{{ "_images/publishers/Racked.png" | absURL }}'>
            <img src='{{ "_images/publishers/RealSimple.png" | absURL }}'>
            <img src='{{ "_images/publishers/Recode.png" | absURL }}'>
            <img src='{{ "_images/publishers/RollingStone.png" | absURL }}'>
            <img src='{{ "_images/publishers/SBNation.png" | absURL }}'>
            <img src='{{ "_images/publishers/SerPadres.png" | absURL }}'>
            <img src='{{ "_images/publishers/SouthernLiving.png" | absURL }}'>
            <img src='{{ "_images/publishers/SportsIllustrated.png" | absURL }}'>
            <img src='{{ "_images/publishers/ThePostGame.png" | absURL }}'>
            <img src='{{ "_images/publishers/TheStreet.png" | absURL }}'>
            <img src='{{ "_images/publishers/TheVerge.png" | absURL }}'>
            <img src='{{ "_images/publishers/TimeInc.png" | absURL }}'>
            <img src='{{ "_images/publishers/Time.png" | absURL }}'>
            <img src='{{ "_images/publishers/TravelLeisure.png" | absURL }}'>
            <img src='{{ "_images/publishers/Turner.png" | absURL }}'>
            <img src='{{ "_images/publishers/UnivisionDeportes.png" | absURL }}'>
            <img src='{{ "_images/publishers/Univision.png" | absURL }}'>
            <img src='{{ "_images/publishers/USWeekly.png" | absURL }}'>
            <img src='{{ "_images/publishers/VoxMedia.png" | absURL }}'>
            <img src='{{ "_images/publishers/Vox.png" | absURL }}'>
            <img src='{{ "_images/publishers/Wired.png" | absURL }}'>
            <img src='{{ "_images/publishers/CBSi.png" | absURL }}'>
          </div>
        </div>
      </div>

      </div>
    </div>

    <div class="match-light">
      <div class="marketplace-desc">
        <h1 class="headline-cap">THE YIELDMO<br><i>MARKETPLACE</i></h1>
        <p class="explanation">Effortessly access Yieldmo’s inventory, formats, and data in whichever way is most convenient for you: managed, programmatic, programmatic private marketplace.</p>
        <div class="notes">
          <ul>
            <li>
              <strong>MANAGED</strong> 
              <span>White-glove account management that constantly optimizes your campaign to maximize spend.</span>
            </li>
            <li>
              <strong>PROGRAMMATIC</strong>
              <span>The Trade Desk</span>
              <span>Google DBM</span>
              <span>AppNexus</span>
              <span>DataXu</span>
              <span>MediaMath</span>
            </li>
            <li>
              <strong>PMP</strong>
              <span>Brand-lit, highly viewable placements (vs. cluttered, click-baity sites where your ad will get lost in the mess)</span>
            </li>
          </ul>
        </div>        
      </div>
    </div>    
  </div>
</div>
{{ end }}