{{ define "main" }}
<div id="sectionMarketplace" class="section-wrapper section-marketplace">
  <div class="interior-page page-1">
    <ul class="breadcrumbs"><span>Products</span><span> > Marketplace</span></ul>

    <div class="match-light">
      <div class="headlines">
        <h1 class="headline-cap">PRIME<br>PLACEMENT</h1>
        <h2 class="headline-lean">on premium inventory.</h2>        
      </div>
    </div>

    <div class="match-dark">
      <p class="explanation">
        <span>THE LARGEST</span> independent mobile marketplace in the U.S. <i>(verified by comscore)</i>
      </p>

      <p class="footnote">
        According to comScore, Yieldmo has a verified actual reach of more than 141 million unique monthly mobile visitors—roughly 80% of the addressable market in the U.S.—making it the largest independent mobile network in the U.S. behind Google, Facebook, Amazon and Yahoo.
        <br><br>
        Our premium inventory is comprised of more than 1,400 of the top mobile destinations that span e-commerce, sports, news, lifestyle and entertainment. Our inventory is comprised exclusively of premium publishers which includes CNN, Condé Nast, Time Inc., Vox Media, The New York Times and Univision.      
      </p>
    </div>    
  </div>
  <div class="interior-page page-2">
    <div class="match-dark">
      <div class="stat-container">
        <div class="statline">
          <h3 class="headline-lean">Quality Reach</h3>
          {{ partial "svg/parenthesis.svg" . }}
        </div>      
        <p class="info">
          <strong>80%</strong>
          U.S. smartphone users <i>(comscore)</i>
          <strong>99.4%</strong>
          Fraud-free <i>(MOAT)</i>
        </p>
        <!--TODO  <h1 style="text-align: center; padding: 20px;">Logo Rotating</h1>         -->
      </div>
    </div>

    <div class="match-light">
      <div class="marketplace-desc">
        <h1 class="headline-cap">THE YIELDMO<br><i>MARKETPLACE</i></h1>
        <p class="explanation">Effortessly access Yieldmo’s inventory, formats, and data in whichever way is most convenient for you: managed, programmatic, programmatic private marketplace.</p>
        <div class="notes">
          <ul>
            <li>
              <strong>MANAGED</strong> 
              <span>White-glove account management that constantly optimizes your campaign to maximize spend.</span>
            </li>
            <li>
              <strong>PROGRAMMATIC</strong>
              <span>The Trade Desk</span>
              <span>Google DBM</span>
              <span>AppNexus</span>
              <span>DataXu</span>
              <span>MediaMath</span>
            </li>
            <li>
              <strong>PMP</strong>
              <span>Brand-lit, highly viewable placements (vs. cluttered, click-baity sites where your ad will get lost in the mess)</span>
            </li>
          </ul>
        </div>        
      </div>
    </div>    
  </div>
</div>
{{ end }}