{{ define "main" }}
<div class="section-wrapper section-about">
  <ul class="breadcrumbs"><span>Company</span><span> > About</span></ul>

  <div class="headlines">
    <h1 class="headline-cap">ABOUT<br> HEADER</h1>
    <h4 class="headline-lean">subtitle goes here.</h4>
  </div>

  <div class="explanation clearfix">
    <p>As the first design-driven ad tech company, Yieldmo is dedicated to elevating the mobile advertising experience for consumers, advertisers and publishers. Yieldmo’s proprietary ad formats are influenced by extensive consumer research and are designed to drive genuine engagement from users. These engagement events, as well as device-specific attributions, result in more than 250 billion data points monthly and provide deep insights about how consumers interact with mobile ads. Analysis of this data informs ad format designs, ad server algorithms, and cam- paign optimizations, all of which enable more effective mobile advertising.</p>
    <p>With 141 million monthly unique visitors, Yieldmo operates one of the world’s larg- est private digital ad marketplaces. Yieldmo is the fifth largest mobile marketplace in the U.S. overall, behind Google, Facebook, Amazon and Yahoo (verified by com- Score). Its inventory is comprised exclusively of premium publishers which includes CNN, ABC News, Condé Nast, Time Inc., Vox Media, The New York Times and Univision. The company delivers more than 7 billion mobile ad impressions every month on behalf of a significant share of the largest advertisers in North America, ranging from Target to Verizon to Amazon.</p>
    <p>The company was founded in June 2012 and is backed by premier VC firms including Google Ventures, Time Warner Investments, and Union Square Ventures.</p>
  </div>
</div>
{{ end }}