{{ define "main" }}
<div class="section-wrapper section-leadership">
  <ul class="breadcrumbs"><span>Company</span><span> > Leadership</span></ul>

  <div class="cover-shot">
    <img class="leadership" src='{{ "_images/leadership.png" | absURL }}'>

    <div class="team-list">
      <a href="#mike" class="namecard">
        <h6>Michael Yavonditte</h6>
        <p>CEO and Founder</p>
      </a> 
      <a href="#rick" class="namecard">
        <h6>Rick Eaton</h6>
        <p>CFO and Co-founder</p>
      </a> 
      <a href="#teddy" class="namecard">
        <h6>Teddy Jawde</h6>
        <p>Head of Product and Co-founder</p>
      </a> 
      <a href="#todd" class="namecard">
        <h6>Todd Coleman</h6>
        <p>CTO and Co-founder</p>
      </a> 
    </div>    
  </div> 

  <div class="team-bios">
    <a name="mike">
      <div class="mask">
        <img src='{{ "_images/leadership.png" | absURL }}'>
      </div>
      
      <div class="more-info">
        <div class="namecard">
          <h6>Michael Yavonditte</h6>
          <p>Co-founder, CEO</p>
        </div>
        <p class="bio">Mike is quietly one of the largest private investors in the technology industry with investments in 100+ Internet com- panies. He built two of the largest online ad companies ever, Quigo (sold to AOL in 2007) and now New Co. His mission is fixing the myriad of problems that exist within AdTech and MarTech, most notably building ads people don't hate, ads that don’t interrupt the user, and ads that perform better. His curiosity and love for art, math, testing and design have all come together to create a company dedicated to a hu- man-centered design.</p>
        <p class="bio">Mike was previously CEO of Quigo, pioneers of auc- tion-based advertising marketplaces. Through his successful strategy of helping publishers monetize their content, Mike led Quigo to a successful acquisition by AOL in 2007.</p>
        <p class="bio">Before that, Mike served as a sales and business develop- ment leader for numerous organizations, including USA Networks Electronic Commerce Solutions Group, AltaVista, Juno Online Services, and Ziff-Davis Publishing.</p>
      </div>
    </a>
    <a name="rick">
      <div class="mask">
        <img src='{{ "_images/leadership.png" | absURL }}'>
      </div>
      
      <div class="more-info">
        <div class="namecard">
          <h6>Michael Yavonditte</h6>
          <p>Co-founder, CEO</p>
        </div>
        <p class="bio">Mike is quietly one of the largest private investors in the technology industry with investments in 100+ Internet com- panies. He built two of the largest online ad companies ever, Quigo (sold to AOL in 2007) and now New Co. His mission is fixing the myriad of problems that exist within AdTech and MarTech, most notably building ads people don't hate, ads that don’t interrupt the user, and ads that perform better. His curiosity and love for art, math, testing and design have all come together to create a company dedicated to a hu- man-centered design.</p>
        <p class="bio">Mike was previously CEO of Quigo, pioneers of auc- tion-based advertising marketplaces. Through his successful strategy of helping publishers monetize their content, Mike led Quigo to a successful acquisition by AOL in 2007.</p>
        <p class="bio">Before that, Mike served as a sales and business develop- ment leader for numerous organizations, including USA Networks Electronic Commerce Solutions Group, AltaVista, Juno Online Services, and Ziff-Davis Publishing.</p>
      </div>
    </a>
  </div>
</div>
{{ end }}