{{ define "main" }}
<style type="text/css">
  .section-pub-guidelines .front-page .explanation-container {
    position: static;
  }
</style>

<div class="section-wrapper section-pub-guidelines section-privacy">
  <div class="front-page">
    <div class="headlines-container">
      <div class="headlines">
        <h1 class="headline-cap">Publisher Guidelines</h1>
      </div>      
    </div>

    <div class="explanation-container clearfix">
      <div class="explanation">
        {{ .Content }}
      </div>
    </div>
  </div>
</div>
{{ end }}  