{{ define "main" }}
<div id="sectionMarketplace" class="section-wrapper section-marketplace">
  <div class="section interior-page page-1">
    <ul class="breadcrumbs"><span>Products</span><span> > Marketplace</span></ul>

    <div class="match-light">
      <div class="headlines">
        <h1 class="headline-cap">PRIME<br>PLACEMENT</h1>
        <h2 class="headline-lean">on private inventory.</h2>        
      </div>
    </div>

    <div class="match-dark">
      <p class="explanation">
        <span>THE LARGEST</span> independent mobile marketplace in the U.S. <i>(verified by comscore)</i>
      </p>

      <p class="footnote">
        Yieldmo is the largest independent mobile marketplace in the U.S. Yieldmo’s premium inventory is comprised of more than 1,400 of the top mobile destinations that span e-commerce, sports, news, lifestyle and entertain- ment. According to comScore, Yieldmo has a verified actual reach of more than 141 million unique mobile visitors – roughly 80% of the addressable market in the U.S. – making it the largest independent network in the U.S. behind Google, Facebook, Amazon and Yahoo.        
      </p>
    </div>    
  </div>

  <img class="placeholder" src='{{ "_images/marketplace-2.png" | absURL }}'>  
</div>
{{ end }}