{{ define "main" }}
<style type="text/css">
  .section-contract-guidelines .front-page .explanation-container {
    position: static;
  }

  .section-contract-guidelines .front-page .explanation-container ul {
    margin-left: 1em;
    margin-bottom: 2em;
  }

  .section-contract-guidelines .front-page .explanation-container ol li {
    margin-bottom: .5em;
  }
</style>

<div class="section-wrapper section-contract-guidelines section-privacy">
  <div class="front-page">
    <div class="headlines-container">
      <div class="headlines">
        <h1 class="headline-cap">{{ .Title }}</h1>
      </div>      
    </div>

    <div class="explanation-container clearfix">
      <div class="explanation">
        {{ .Content }}
      </div>
    </div>
  </div>
</div>
{{ end }}