{{ define "main" }}
<div class="section-wrapper section-licensedformats">
  <div class="interior-page">
    <h1 class="main-cta">LICENSED FORMATS</h1>

    <div class="match-light">
      <h1 class="headline-cap">PRICING TIERS.</h1>
    </div>

    <div class="match-dark">
      <div class="tiers clearfix">
        <div class="tier-1">
          <h3 class="headline-cap">TIER 1: PREMIUM FORMATS</h3>
          <ul>
            <li><a target="_blank" href="https://formats.yieldmo.com/#/format/wrapper_Interactive">>> Wrapper</a></li>
          </ul>
        </div>
        <div class="tier-2">
          <h3 class="headline-cap">TIER 2: HIGH-IMPACT FORMATS</h3>
          <ul>
            <li><a target="_blank" href="https://formats.yieldmo.com/#/format/windowplay">>> Windowplay</a></li>
            <li><a target="_blank" href="https://formats.yieldmo.com/#/format/hyperplay">>> Hyperplay</a></li>
            <li><a target="_blank" href="https://formats.yieldmo.com/#/format/video">>> Video</a></li>
            <li><a target="_blank" href="https://formats.yieldmo.com/#/format/zine">>> Zine</a></li>
            <li><a target="_blank" href="https://formats.yieldmo.com/#/format/hyperscroller">>> Hyperscroller</a></li>
            <li><a target="_blank" href="https://formats.yieldmo.com/#/format/window">>> Window</a></li>
            <li><a target="_blank" href="https://formats.yieldmo.com/#/format/elevator">>> Elevator</a></li>
            <li><a target="_blank" href="https://formats.yieldmo.com/#/format/pull">>> Pull</a></li>
            <li><a target="_blank" href="https://formats.yieldmo.com/#/format/switch">>> Switch</a></li>
            <li><a target="_blank" href="https://formats.yieldmo.com/#/format/mainstage">>> Mainstage</a></li>
            <li><a target="_blank" href="https://formats.yieldmo.com/#/format/carousel">>> Carousel</a></li>
            <li><a target="_blank" href="https://formats.yieldmo.com/#/format/ticker">>> Ticker</a></li>
            <li><a target="_blank" href="https://formats.yieldmo.com/#/format/shadowbox">>> Shadowbox</a></li>
          </ul>      
        </div> 
        <div class="tier-3">
          <h3 class="headline-cap">TIER 3: TEXT+IMAGE FORMATS</h3>
          <ul>
            <li><a target="_blank" href="https://formats.yieldmo.com/#/format/feature">>> Feature</a></li>
            <li><a target="_blank" href="https://formats.yieldmo.com/#/format/flexcard">>> Flexcard</a></li>
            <li><a target="_blank" href="https://formats.yieldmo.com/#/format/postcard">>> Postcard</a></li>
            <li><a target="_blank" href="https://formats.yieldmo.com/#/format/domino">>> Domino</a></li>
            <li><a target="_blank" href="https://formats.yieldmo.com/#/format/store">>> Store</a></li>
          </ul>      
        </div>
      </div>
    </div>    
  </div>
</div>
{{ end }}