@font-face {
font-family: 'Caecilia LT Pro 45 Lig-0vR3DAlB';
font-style: normal; 
font-weight: 400; 
unicode-range: U+000D-FB02;
src: url('../../fonts/04bf34bc-0af6-4cdf-9b45-de5e1a8aa593/linotype-caecilialtpro-45light.woff') format('woff');
}