/* ==========================================================================
   warming up... 
   ========================================================================== */
@import "imports/_normalize.scss";
@import "imports/_reset.scss";
@import "imports/_definitions.scss";


/* ==========================================================================
   import plugins
   ========================================================================== */
/* @import "plugins/slick.css"; */
@import "plugins/jquery.fullpage.min.css";



/* ==========================================================================
   modular components & common stuff among everything
   ========================================================================== */

@import "modules/_baseof.scss";
@import "modules/_navigation.scss";
@import "modules/_components.scss";


/* ==========================================================================
   different sections
   ========================================================================== */

@import "sections/_common.scss";

@import "sections/_home.core.scss";
@import "sections/_home.interaction.scss";
@import "sections/_home.responsive.scss";

@import "sections/_formats.core.scss";
@import "sections/_formats.interaction.scss";
@import "sections/_formats.responsive.scss";

@import "sections/_insights.core.scss";
@import "sections/_insights.responsive.scss";

@import "sections/_marketplace.core.scss";
