{{ define "main" }}
<div id="sectionInsights" class="section-insights">
  <div class="section interior-page page-1">
    <ul class="breadcrumbs"><span>Products</span><span> > Formats</span></ul>

    <div class="match-light">
      <div class="headlines">
        <h1 class="headline-cap">Breakthrough<br>Design</h1>
        <h2 class="headline-lean">with your customer in mind.</h2>        
      </div>
    </div>

    <div class="match-dark">
      <p class="explanation">
         The seductive click baits and relentless pop-ups are bred from a old, view-and-click desktop world. Our goal is to help you produce advertising that doesn’t interfere with the content your customers seek.
      </p>

      <img class="hand-held" src='{{ "_images/hand-held.png" | absURL }}'>     
    </div>    
  </div>
</div>
{{ end }}