{{ define "main" }}
<div id="sectionInsights" class="section-wrapper section-insights">
  <div class="section interior-page page-1">
    <ul class="breadcrumbs"><span>Products</span><span> > Insights</span></ul>

    <div class="match-light">
      <div class="headlines">
        <h1 class="headline-cap">BEHIND<br>EVERY GREAT AD</h1>
        <h2 class="headline-lean">is great data.</h2>        
      </div>
    </div>

    <div class="match-dark">
      <p class="explanation">
         <span>58 BILLION DATA POINTS</span> is the data equivalent of what the Hubble Telescrope captures in a year.
      </p>

      <!-- <img class="hand-held" src='{{ "_images/hand-held.png" | absURL }}'>    -->
    </div>    
  </div>

  <img class="placeholder" src='{{ "_images/insights-2.png" | absURL }}'>
  <img class="placeholder" src='{{ "_images/insights-3.png" | absURL }}'>
</div>
{{ end }}