{{ define "main" }}
<div class="section-wrapper section-careers">
  <div class="interior-page page-1">
    <div class="match-light clearfix">
      <h1 class="headline-cap">{{ .Site.Data.Careers.pageOne.headlineCap }}</h1>
      <div class="explanation clearfix">
        <h3 class="headline-lean">{{ .Site.Data.Careers.pageOne.subHeadline1 }}</h3>
        <p>{{ .Site.Data.Careers.pageOne.paragraph1 | safeHTML }}</p>
        <h3 class="headline-lean">{{ .Site.Data.Careers.pageOne.subHeadline2 }}</h3>
        <p>{{ .Site.Data.Careers.pageOne.paragraph2 | safeHTML }}</p>
      </div>
    </div>

    <div class="match-dark">
      <h3 class="headline-cap">VIEW CURRENT OPENINGS</h3>
      <p id="arrowDown" class="arrow-down">∟</p>
    </div>
  </div>

  <div class="interior-page page-2">
    <div class="match-dark clearfix">
      <div class="headlines">
        <h2 class="headline-cap">AMBITIOUS GOALS</h2>
        <h2 class="headline-lean">demand sharp, diverse minds.</h2>
        <p>Evolving an industry requires relentless problem solving by some really sharp folks. At Yieldmo, you’ll find a spirit- ed team from diverse backgrounds united by a common passion for finding, and delivering, the truth to our clients. It marks an evolution of this space, where everyone—from client to consumer—benefits. We work fast, constantly imagine what could be, and all bring our talents to the table in pursuit of the best idea.</p>
      </div>
    </div>
    <div class="match-light clearfix">
      <div class="spotlights-container">
        <div class="spotline">
          <h3 class="headline-cap">EMPLOYEE SPOTLIGHT</h3>
          {{ partial "svg/parenthesis.svg" . }}
        </div>
        <div class="spotlights clearfix">
          <div class="individual-spotlight">
            <div class="headshot"><img src='{{ "_images/careers/Jeremy_Steinberg.jpg" | absURL }}'></div>
            <div class="namecard">
              <h2 class="headline-cap">MATEO</h2>
              <h5 class="title">Director of Operations</h5>
              <h5 class="funfact">Globe-Trotter</h5>
            </div>
            <p class="quote">"As a fast-growing company, Yieldmo has given me the freedom to take on a variety of challenges and grow as a professional."</p>
          </div>
          <div class="individual-spotlight">
            <div class="headshot"><img src='{{ "_images/careers/Jeremy_Steinberg.jpg" | absURL }}'></div>
            <div class="namecard">
              <h2 class="headline-cap">SUE</h2>
              <h5 class="title">Sales Director</h5>
              <h5 class="funfact">Soccer Superstar</h5>
            </div>
            <p class="quote">"Our products solve real business challenges for clients. I love being able to bring true value to the market."</p>
          </div>
          <div class="individual-spotlight">
            <div class="headshot"><img src='{{ "_images/careers/Jeremy_Steinberg.jpg" | absURL }}'></div>
            <div class="namecard">
              <h2 class="headline-cap">KAREEM</h2>
              <h5 class="title">Senior Front-end Engineer</h5>
              <h5 class="funfact">Carolina Reaper Pepper Survivor</h5>
            </div>
            <p class="quote">"With opportunities to deepen my skills and endless peer support, Yieldmo actively invests in growing its developers."</p>
          </div>
          <div class="individual-spotlight">
            <div class="headshot"><img src='{{ "_images/careers/Jeremy_Steinberg.jpg" | absURL }}'></div>
            <div class="namecard">
              <h2 class="headline-cap">JORDAN</h2>
              <h5 class="title">Account Manager</h5>
              <h5 class="funfact">Sneaker Head</h5>
            </div>
            <p class="quote">"I love getting to work at a company that is push- ing the boundaries of media and technology every day."</p>
          </div>
          <div class="individual-spotlight">
            <div class="headshot"><img src='{{ "_images/careers/Jeremy_Steinberg.jpg" | absURL }}'></div>
            <div class="namecard">
              <h2 class="headline-cap">SUSAN</h2>
              <h5 class="title">Graphic Designer</h5>
              <h5 class="funfact">Black Belt</h5>
            </div>
            <p class="quote">"A flexible vacation policy lets us take the time we need and, more impor- tantly, shows how much trust Yieldmo places in every employee."</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="interior-page page-3">
    <div class="match-dark">
      <div class="scenes-mask">
        <div class="scenes-roll clearfix">
          <div class="scene"><img src='{{ "_images/careers/Workplace-1.jpg" | absURL }}'></div>
          <div class="scene"><img src='{{ "_images/careers/Workplace-2.jpg" | absURL }}'></div>
          <div class="scene"><img src='{{ "_images/careers/Workplace-3.jpg" | absURL }}'></div>
          <div class="scene"><img src='{{ "_images/careers/Workplace-4.jpg" | absURL }}'></div>
          <div class="scene"><img src='{{ "_images/careers/Workplace-5.jpg" | absURL }}'></div>
          <div class="scene"><img src='{{ "_images/careers/Workplace-6.jpg" | absURL }}'></div>
          <div class="scene"><img src='{{ "_images/careers/Workplace-7.jpg" | absURL }}'></div>
        </div>
      </div>
    </div>
    <div class="match-light">
      <div class="benefits-container">
        <div class="benefitline">
          <h3 class="headline-cap">A SAMPLING OF PERKS & BENEFITS</h3>
          {{ partial "svg/parenthesis.svg" . }}
        </div>
        <div class="benefits">
          <div class="benefit-item">
            <h3 class="headline-cap">EXPAND YOUR MIND</h3>
            <p>Ongoing lectures and seminars, plus an annual educational stipend for every employee keeps us all on the cutting edge.</p>
          </div>
          <div class="benefit-item">
            <h3 class="headline-cap">TAKE THE REINS</h3>
            <p>As a rapidly-growing company, there are countless opportu- nities for do-ers to shine. Here, the best idea—respectfully shared—rules the day.</p>
          </div>
          <div class="benefit-item">
            <h3 class="headline-cap">MAINTAIN FLEXIBILITY</h3>
            <p>A flexible vacation policy lets you recharge outside of work. Our varied workspaces, communal meals, standing desks, and numerous events ensure a healthy work-life balance.</p>
          </div>
          <div class="benefit-item">
            <h3 class="headline-cap">STAY FUELED</h3>
            <p>In addition to a daily lunch menu of rotating cuisines, we have endless snacks on hand, cold brew on tap, and more. Kombucha and candy, anyone?</p>
          </div>
          <div class="benefit-item">
            <h3 class="headline-cap">BRING YOUR POOCH</h3>
            <p>With dog-friendly offices, you’ll get proven stress-relief bene- fits, courtesy of some of the finest quadrupeds on the planet. Said without bias, of course!</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="interior-page page-4">
    <div class="match-dark clearfix">
      <div class="headlines">
        <h3 class="headline-cap">READY TO RE-DEFINE THE RULES?</h3>
        <h4 class="headline-lean">Explore some of our current openings >>> </h4>
        <p>Don’t see a position that matches your talents but think you’d make a great fit? We’re a fast growing company with new opportunities becoming available all the time, so drop us a line: <a href="mailto:careers@yieldmo.com" target="_top">careers@yieldmo.com</a>.</p>
      </div>
    </div>
    <div class="match-light">
      <div class="jobs-container clearfix">
        
        {{ range .Site.Data.Careers.pageFour.jobs }}
        <div class="job-category">
          <h4 class="category-name">{{ .categoryName }}</h4>
          {{ range .postings }}
          <div class="job-post">
            <a href="{{ .url }}">
              <h4 class="title"> >> {{ .name }} </h4>
              <h4 class="location">{{ .location }}</h4>
            </a>
            <p>{{ .description }}</p>
          </div>
          {{ end }}
        </div>
        {{ end }}   

      </div>
    </div>
  </div>
</div>
{{ end }}
