{{ define "main" }}
<div id="landingPage" class="landingPage">
  <div class="section hero-content">
    <div class="news">
      <a target="_blank" href="{{ .Site.Data.News.link }}">
       >> {{ .Site.Data.News.headline | safeHTML }}</a>
     </div>

    <div id="humans" class="humans">
      {{ range .Site.Data.Home.portraits }}
        <img src='{{ . | absURL }}'>
      {{ end }}
    </div>

    <div class="main-message">
      <div class="headlines">
        <h2 class="headline-cap">{{ .Site.Data.Home.mainHeadLineCap | safeHTML }}</h2>
        <h2 class="headline-lean">{{ .Site.Data.Home.mainHeadlineLean | safeHTML }}</h2>
      </div>
    </div>

    <p id="arrowDown" class="arrow-down">∟</p>
  </div>

  <div id="heroCarousel" class="section hero-carousel">
    <div class="slide">{{ partial "slide-formats" . }}</div>
    <div class="slide">{{ partial "slide-insights" . }}</div>
    <div class="slide">{{ partial "slide-marketplace" . }}</div>
  </div>    
</div>
{{ end }}


{{ define "section-scripts"}}
<script src='{{ "js/plugins/jquery.fullpage.min.js" | absURL }}'></script>
<!-- NETLIFY IDENTITY WIDGET -->
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<!-- Netlify identity widget script -->
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
{{ end }}