{{ define "main" }}
  <!-- {{ .Content }} -->

  <div class="hero-content">
    <div class="humans">
      <img class="tokponwey" src='{{ "_images/portraits/_A_Tokponwey_00046.jpg" | absURL }}'>
      <!-- <img class="rachel" src='{{ "_shoots/_Rachel_Oremland_01131.jpg" | absURL }}'> -->
      <!-- <img class="rene" src='{{ "_shoots/_Rene_01371.jpg" | absURL }}'> -->
    </div>

    <div class="main-message">
      <h2 class="headline-cap">GET CLOSER<br>TO YOUR CUSTOMERS.</h2>
      <h2 class="headline-lean">Our data-rich ad formats<br>provide unprecendented customer<br>insights that drive performance.</h2>
    </div>

    <p id="arrowDown" class="arrow-down">∟</p>
  </div>

  <div id="heroCarousel" class="hero-carousel">
    <div>{{ partial "slide-formats" . }}</div>
    <div>{{ partial "slide-insights" . }}</div>
    <div>{{ partial "slide-marketplace" . }}</div>
  </div>
{{ end }}


{{ define "scripts"}}
  {{ partial "site-scripts" . }}
  <script type="text/javascript"> window.section = "home" </script>
  <script type="text/javascript" src='{{ "js/plugins/slick.min.js" | absURL }}'></script>
{{ end }}