{{ define "main" }}
<div class="section-wrapper blog-page">
  <h6 class="category"> >> {{ .Params.category }}</h6>

  {{ with .Params.images }}
    {{ $featureImageURL := index . 0 }}
     <!-- <img class="cover" src="/_images/blog/{{ $featureImageURL }}"> -->
  {{ end }}

  <h3 class="headline-cap title">{{ .Title }}</h3>

  {{ .Content }}

  <h6 class="meta-info">Posted by: {{ .Params.author }}</h6>

  {{ if .Params.file_download }}
    <a class="file-download" href="" data-featherlight="#leadForm">Download Attachment</a>


    <form id="leadForm">
      
    </form>

    <script type="text/javascript">window.feature = "download"</script>
  {{ end }}
</div>
{{ end }}