{{ define "main" }}
<div class="section-wrapper section-about">
  <ul class="breadcrumbs"><span>Company</span><span> > About</span></ul>

  <div class="headlines-container">
    <div class="headlines">
      <h4 class="headline-lean">What is</h4>
      <h1 class="headline-cap">DATA BY DESIGN?</h1>
    </div>    
  </div>

  <div class="explanation-container">
    <div class="explanation clearfix">
      <p>Our mission from Day 1: Elevate the digital advertising experience for consumers, advertisers, and publishers.</p>
      <p>Today, we're taking that mission to a whole new level. By harnessing the power of the massive data set that lives behind our proven, consumer-friendly formats, our understanding of engagement is set to create yet another seismic industry shift.</p>
      <p>What's in our massive data set?</p>
      <p>It goes way beyond the click. Our engagement events are comprised of the countless micro-interactions people have with our ads: the gestures, swipes, scrolls, tilts, lingers, you name it. They generate more than 200 billion privacy-safe data points every month, and they tell a vivid, compelling story about how audiences engage with marketing. We use that data to inform our format designs, audience segmentation, campaign optimization and more.</p>
      <p>That's data by design.</p>
      <p>With 141 million monthly unique visitors, we also operate one of the world’s largest independent mobile ad marketplaces—fifth overall in the U.S. behind Google, Facebook, Amazon and Yahoo (verified by comScore).</p>
      <p>Our inventory is comprised exclusively of premium publishers which include CNN, Condé Nast, Time Inc., Vox Media, The New York Times and Univision. We deliver more than 7 billion mobile ad impressions every month on behalf of a significant share of the largest advertisers in North America, ranging from Target to Verizon to Amazon.</p>
      <p>Yieldmo is among the Top 10% of the fastest-growing tech companies in North America, as measured by Deloitte LLP, and is backed by premier VC firms including Google Ventures, Time Warner Investments, and Union Square Ventures.</p>
    </div>

    <img class="trademark" src="/_images/YIELDMO_MARK_TM_ORANGE.png">
  </div>
</div>
{{ end }}
