{{ define "main" }}
<div class="section-wrapper section-afl">
  <div class="interior-page page-1">
    <ul class="breadcrumbs"><span>Company</span><span> > Ad Format Lab</span></ul>

    <div class="match-light">
      <div class="headlines">
        <div class="headline-cap">DESIGNED <i>for</i> HUMANS <br><i>by</i> HUMANS.</div>
        <p class="explanation">Let’s face it. People don’t go online for the ads. But, that doesn’t mean they deserve pop-ups, autoplays, and takeovers. Our goal is to create the most innovative digital advertis- ing experiences that integrate seamlessly with device usage without disrupting their natural flow of content. Our <a href="/products/formats">formats</a> are designed to engage, not enrage.</p>
      </div>
    </div>

    <div class="match-dark">
      <div class="charts clearfix">
        <div class="for con" data-trigger="init-con"></div>
        <div class="for adv" data-trigger="init-adv"></div>
        <div class="for pub" data-trigger="init-pub"></div>
      </div>
      <div class="stats">
        <div class="for con">
          <h5 class="content-font">FOR CONSUMERS:</h5>
          <p><b>66%</b> <span>of US consumers prefer Yieldmo mobile ads vs. standard mobile ads.</span></p>
        </div>
        <div class="for adv">
          <h5 class="content-font">FOR ADVERTISERS:</h5>
          <p><b>31%</b> <span>higher unaided brand recall amongst U.S. consumers from Yieldmo mobile ads vs. standard mobile ads.</span></p>
        </div>
        <div class="for pub">
          <h5 class="content-font">FOR PUBLISHERS:</h5>
          <p><b>93%</b> <span>higher increase in publisher favorability amongst U.S. consumers from Yieldmo mobile ads vs. standard mobile ads.</span></p>
        </div>
      </div>
    </div>
  </div>

  <div class="interior-page page-2">
    <div class="match-light">
      <div class="headlines">
        <div class="headline-cap">GROUNDED IN <br>INNOVATION</div>
        <p class="explanation">We’re known for creating the world’s most engaging ad experiences. But our best-kept secret (until now!) is the massive dataset behind them. This combined engagement and exposure data informs every Yieldmo innovation: from the cre- ation of our proprietary, user-friendly formats, right down to the nitty gritty of campaign optimization. The result is a win-win-win — ads that deliver great performance for marketers, competitive monetization for publishers, and an enjoyable experience for users.</p>
      </div>
    </div>

    <div class="match-dark">
      <video playsinline autoplay loop src='{{ "_videos/emp.mp4" | absURL }}'></video>
    </div>
  </div>

</div>
{{ end }}
