{{ define "main" }}
<div class="section-wrapper section-leadership">
  <ul class="breadcrumbs"><span>Company</span><span> > Leadership</span></ul>

  <div class="cover-shot">
    <img class="leadership" src='{{ "_images/team/leadership.jpg" | absURL }}'>

    <div class="team-list">
      <a href="#mike" data-anchor="mike" class="namecard">
        <h6>Michael Yavonditte</h6>
        <p>CEO and Founder</p>
      </a> 
      <a href="#rick" data-anchor="rick" class="namecard">
        <h6>Rick Eaton</h6>
        <p>CFO and Co-founder</p>
      </a> 
      <a href="#teddy" data-anchor="teddy" class="namecard">
        <h6>Teddy Jawde</h6>
        <p>Head of Product and Co-founder</p>
      </a> 
      <a href="#todd" data-anchor="todd" class="namecard">
        <h6>Todd Coleman</h6>
        <p>CTO and Co-founder</p>
      </a> 
      <a href="#susan" data-anchor="susan" class="namecard">
        <h6>SUSAN LIETZ</h6>
        <p>CMO</p>
      </a> 
      <a href="#scott" data-anchor="scott" class="namecard">
        <h6>Scott Schwanbeck</h6>
        <p>EVP, Business Development</p>
      </a> 
      <a href="#chip" data-anchor="chip" class="namecard">
        <h6>Chip Jessopp</h6>
        <p>Head of Sales</p>
      </a> 
      <a href="#dan" data-anchor="dan" class="namecard">
        <h6>Dan Contento</h6>
        <p>SVP, Operations</p>
      </a> 
      <a href="#angie" data-anchor="angie" class="namecard">
        <h6>Angie More</h6>
        <p>VP, National Sales</p>
      </a> 
      <a href="#sebag" data-anchor="sebag" class="namecard">
        <h6>David Sebag</h6>
        <p>VP of Product, New Ad Formats</p>
      </a> 
      <a href="#jackie" data-anchor="jackie" class="namecard">
        <h6>Jackie Sunderland</h6>
        <p>VP, Account Management</p>
      </a> 
      <a href="#spencer" data-anchor="spencer" class="namecard">
        <h6>Spencer Weinman</h6>
        <p>VP, Partnerships and Programmatic</p>
      </a> 
      <a href="#clarkson" data-anchor="clarkson" class="namecard">
        <h6>Adam Clarkson</h6>
        <p>VP of Product, Applications</p>
      </a> 
      <a href="#giulia" data-anchor="giulia" class="namecard">
        <h6>Giulia Migliaccio</h6>
        <p>VP, Corporate Controller</p>
      </a> 
    </div>
  </div> 

  <div class="team-bios">
    <div data-name="mike">
      <a class="anchor-locator" name="mike"></a>
      <div class="mask">
        <img src='{{ "_images/team/MichaelYavonditte.png" | absURL }}'>
      </div>
      
      <div class="more-info">
        <div class="namecard">
          <h6>Michael Yavonditte</h6>
          <p>CEO and Founder</p>
        </div>
        <p>Mike "Yavo" Yavonditte is the Founder and CEO of Yieldmo. A veteran of new media and technology, he is a private investor in the technology industry with more than 100 active investments. Mike uses his love of art, math, data, and design to address the great challenges in AdTech and MarTech. His current mission is to unleash the power of big data toward better performance and understanding while delivering exceptional, human-centric ad experiences.</p>
        <p>Mike was previously CEO of Quigo, pioneers of auction-based advertising marketplaces. Through his successful strategy of helping publishers monetize their content, Mike led Quigo to a successful acquisition by AOL in 2007.</p>
        <p>Before that, Mike served as a sales and business development leader for numerous organizations, including USA Networks Electronic Commerce Solutions Group, AltaVista, Juno Online Services, and Ziff-Davis Publishing.</p>
      </div>
    </div>
    <div data-name="rick">
      <a class="anchor-locator" name="rick"></a>
      <div class="mask">
        <img src='{{ "_images/team/RickEaton.png" | absURL }}'>
      </div>
      
      <div class="more-info">
        <div class="namecard">
          <h6>Rick Eaton</h6>
          <p>CFO and Co-founder</p>
        </div>
        <p>As co-founder and CFO, Rick is on a path to prove digital advertising can work for both publishers and advertisers by providing consumers with respectful, engaging ad experiences. Prior to Yieldmo, Rick had more than 25 years of experience managing fast-growing technology companies. He served as CFO of several NYC-based startups, including Quigo, a creator of auction-based advertising marketplaces, and Juno Online Services, one of the nation’s leading Internet Service Providers.</p>
        <p>Rick is a member of the American Institute of Certified Public Accountants.</p>
      </div>
    </div>
    <div data-name="teddy">
      <a class="anchor-locator" name="teddy"></a>
      <div class="mask">
        <img src='{{ "_images/team/TeddyJawde.png" | absURL }}'>
      </div>
      
      <div class="more-info">
        <div class="namecard">
          <h6>Teddy Jawde</h6>
          <p>Head of Product and Co-founder</p>
        </div>
        <p>Teddy is a co-founder of Yieldmo and serves as Head of Product where he is responsible for defining product strategy and leading the product team. Teddy was one of the principal product architects of Quigo, an early digital ad exchange marketplace sold to AOL. Prior to AOL and Quigo, Teddy held various product positions at Yahoo! and Hotjobs.com.</p>
        <p>Teddy graduated from Tulane University in New Orleans, where he eventually plans to relocate so he can be closer to his favorite food and music.</p>
      </div>
    </div>
    <div data-name="todd">
      <a class="anchor-locator" name="todd"></a>
      <div class="mask">
        <img src='{{ "_images/team/ToddColeman.png" | absURL }}'>
      </div>
      
      <div class="more-info">
        <div class="namecard">
          <h6>Todd Coleman</h6>
          <p>CTO and Co-founder</p>
        </div>
        <p>Todd brings his deep experience building ad tech platforms to his role as Yieldmo’s CTO. Prior to being part of the founding team at Yieldmo, Todd worked closely with the co-founders during his tenure at Quigo Technologies, Inc., which was acquired by AOL in 2007.</p>
        <p>Before that, Todd worked for Columbia House and Tallan enterprise consultants. He holds a Masters in Computer Science from the University of Colorado Boulder and undergraduate degrees in both business and CS from the University of Missouri Columbia.</p>
      </div>
    </div>
    <div data-name="susan">
      <a class="anchor-locator" name="susan"></a>
      <div class="mask">
        <img src='{{ "_images/team/SusanLietz.png" | absURL }}'>
      </div>
      
      <div class="more-info">
        <div class="namecard">
          <h6>Susan Lietz</h6>
          <p>CMO</p>
        </div>
        <p>Susan has served as CMO of Yieldmo since early 2017 and is responsible for all branding, sales support and external communications. She brings more than 20 years of media, entertainment and consumer marketing experience to the table, most recently as one of the founding members of Tapad, Inc., where she was an integral part of Tapad’s acquisition by Norway-based Telenor in 2016.</p>
        <p>Before Tapad, Susan led Corporate Communications for Thumbplay, acquired by Clear Channel Communications (now iHeartMedia). Susan has led Marketing Communication teams for multi-billion dollar organizations, including Rodale Publishing, BMG International and EMI North America. She began her career in the video game industry, serving as a key player in the U.S. launch of Nintendo, and later, Microsoft’s Xbox.</p>
      </div>
    </div>
    <div data-name="scott">
      <a class="anchor-locator" name="scott"></a>
      <div class="mask">
        <img src='{{ "_images/team/ScottSchwanbeck.png" | absURL }}'>
      </div>
      
      <div class="more-info">
        <div class="namecard">
          <h6>Scott Schwanbeck</h6>
          <p>EVP, Business Development</p>
        </div>
        <p>Scott brings more than 15 years of digital experience to his role as EVP of Business Development for Yieldmo. In this role, Scott leads all strategic growth of Yieldmo’s publisher marketplace and partnerships.</p>
        <p>Prior to Yieldmo, Scott was Head of Business Development at Vizu, leading all strategic initiatives including relationships with Google, Liverail, Innovid, Adap.tv and others. Vizu was acquired by Nielsen in July 2012. Scott has also held executive roles at companies including: drop.io, a consumer-facing file sharing platform acquired by Facebook in 2010; News Corp where he lead all business development activities across the Fox Interactive properties; and IGN Entertainment, a roll-up of entertainment and gaming properties that was acquired by News Corp for $650 million in 2005.</p>
      </div>
    </div>
    <div data-name="chip">
      <a class="anchor-locator" name="chip"></a>
      <div class="mask">
        <img src='{{ "_images/team/ChipJessopp.png" | absURL }}'>
      </div>
      
      <div class="more-info">
        <div class="namecard">
          <h6>Chip Jessopp</h6>
          <p>Head of Sales</p>
        </div>
        <p>Chip brings more than fifteen years of online marketing experience across desktop, mobile, market research, and analytics to his role as Head of Sales at Yieldmo. Chip previously led National Sales and Business Development for MBuy, a media buying technology and service division of Mediaocean. He also spent time at Groupon managing the National Sales business across the Central and West regions.</p>
        <p>Previously, Chip spent several years at Yahoo! where, in his last role, he led sales for Yahoo!’s US Performance Display business and partnered with leading advertisers and agency trading desks to evolve performance-based media solutions.</p>
        <p>Chip started his career in market research and spent time at both IRI Symphony and comScore where he helped to develop custom solutions across leading verticals online. Chip holds a B.S. in Marketing from Bentley University.</p>
      </div>
    </div>
    <div data-name="dan">
      <a class="anchor-locator" name="dan"></a>
      <div class="mask">
        <img src='{{ "_images/team/DanContento.png" | absURL }}'>
      </div>
      
      <div class="more-info">
        <div class="namecard">
          <h6>Dan Contento</h6>
          <p>SVP, Operations</p>
        </div>
        <p>Dan leads Operations at Yieldmo, where he oversees strategy, delivery and growth for all managed advertiser and publishers on the Yieldmo platform.</p>
        <p>Prior to joining Yieldmo, Dan was Vice President of Sales at Luminate, an interactive image technology firm. He also led sales at news aggregator Digg, where he helped pioneer their native ad product called Digg Ads. Dan has also held sales roles at Yahoo!, CNET Networks, and Ziff-Davis Publishing.</p>
        <p>Dan holds a BA in Economics from the University of Pennsylvania.</p>
      </div>
    </div>
    <div data-name="angie">
      <a class="anchor-locator" name="angie"></a>
      <div class="mask">
        <img src='{{ "_images/team/AngieMore.png" | absURL }}'>
      </div>
      
      <div class="more-info">
        <div class="namecard">
          <h6>Angie More</h6>
          <p>VP, National Sales</p>
        </div>
        <p>Angie More serves as VP of National Sales and brings more than 20 years of experience in advertising and technology sales and strategy. Her experience includes digital expertise in mobile, SaaS solutions, display advertising, e-mail, search, lead generation, advergaming, sponsorships, and customized programs for clients in automotive, entertainment, CPG, travel, healthcare, retail, financial services and technology.</p>
        <p>Prior to Yieldmo, Angie ran national sales at Rocket Fuel where she built advertising solutions for Fortune 500 brands.</p>
      </div>
    </div>
    <div data-name="sebag">
      <a class="anchor-locator" name="sebag"></a>
      <div class="mask">
        <img src='{{ "_images/team/DavidSebag.png" | absURL }}'>
      </div>
      
      <div class="more-info">
        <div class="namecard">
          <h6>David Sebag</h6>
          <p>VP of Product, New Ad Products</p>
        </div>
        <p>As the VP of New Ad Products, David leads the team deploying human-centered design and data insights to create new ad formats that revolutionize the way people engage with brands. David also oversees all ad format optimizations, a continuous iteration cycle that relies on extensive A/B testing and multiple data inputs.</p>
        <p>Prior to joining Yieldmo, David served as the Head of Product at Blue State Digital, the agency that pioneered digital campaigning and movement building on both Obama presidential campaigns. He was the Director of Digital Products on President Obama’s 2012 reelection campaign, where he built first-of-their-kind Facebook tools to reach friends in battleground states, a mobile get-out-the-vote app, and frictionless donation technology.</p>
        <p>Earlier in David’s career, he worked with Yieldmo’s founders as the Principal Product Manager for advertising tools at Quigo (acquired by AOL). David holds an MFA from Columbia University and a BA from the University of Pennsylvania.</p>
      </div>
    </div>
    <div data-name="jackie">
      <a class="anchor-locator" name="jackie"></a>
      <div class="mask">
        <img src='{{ "_images/team/generic.jpg" | absURL }}'>
      </div>
      
      <div class="more-info">
        <div class="namecard">
          <h6>Jackie Sunderland</h6>
          <p>VP, Account Management</p>
        </div>
        <p>In her role as VP, Account Management, Jackie leads the team responsible for designing and delivering strategic campaigns that are optimized to exceed customers’ goals. In addition to being Yieldmo’s first account manager, Jackie is also proud to be Yieldmo’s first full-time female employee, joining shortly after the company was founded.</p>
        <p>Jackie holds a bachelor's degree from Boston University and enjoys singing with the Melodia Women's Choir of NYC in her spare time.</p>
      </div>
    </div>
    <div data-name="spencer">
      <a class="anchor-locator" name="spencer"></a>
      <div class="mask">
        <img src='{{ "_images/team/generic.jpg" | absURL }}'>
      </div>
      
      <div class="more-info">
        <div class="namecard">
          <h6>Spencer Weinman</h6>
          <p>VP, Partnerships and Programmatic</p>
        </div>
        <p>Spencer serves as Yieldmo’s VP of Partnerships and Programmatic where he is responsible for creating partnerships with platforms, publishers, and DSPs. Prior to joining Yieldmo, Spencer was a key member of the business development team at OpenX and one of the first employees hired in their New York office. Earlier in his career, Spencer was a media buyer at Carat (now part of Dentsu Aegis Network) and worked on sponsorships for the National Hockey League.</p>
        <p>Spencer received his bachelor's degree from Syracuse University.</p>
      </div>
    </div>
    <div data-name="clarkson">
      <a class="anchor-locator" name="clarkson"></a>
      <div class="mask">
        <img src='{{ "_images/team/AdamClarkson.png" | absURL }}'>
      </div>
      
      <div class="more-info">
        <div class="namecard">
          <h6>Adam Clarkson</h6>
          <p>VP, Applications</p>
        </div>
        <p>As the VP of Product, Applications, Adam leads the team responsible for building tools that ensure marketers and publishers can easily build engaging ad experiences, deliver them to target audiences, and evaluate campaign success to optimize marketing spend. Prior to joining Yieldmo, Adam was the Director of Publisher Products at Chartbeat, an analytics platform that enables media organizations to understand and harness their audience’s engagement, second by second, pixel by pixel. Earlier in his career, Adam led User Experience at Newsweek and CBC, Canada’s national public broadcaster.</p>
        <p>Hailing from Canada, Adam holds a BA Honours from Huron College at the University of Western Ontario.</p>
      </div>
    </div>
    <div data-name="giulia">
      <a class="anchor-locator" name="giulia"></a>
      <div class="mask">
        <img src='{{ "_images/team/GiuliaMigliaccio.png" | absURL }}'>
      </div>
      
      <div class="more-info">
        <div class="namecard">
          <h6>Giulia Migliaccio</h6>
          <p>VP, Corporate Controller</p>
        </div>
        <p>Giulia is VP, Corporate Controller at Yieldmo, responsible for financial reporting, audit and tax, and assisting in payroll and 401k administration. Prior to joining Yieldmo, Giulia was the controller at Hooklogic, serving on the due diligence team leading up to the acquisition by Criteo, and played an integral integration role after the deal closed. Earlier in Giulia’s career, she worked on consolidations and financial reporting at Interpublic and was in acquisition accounting for Lowe and Partners.</p>
        <p>Giulia holds a BS in Accounting from CUNY Brooklyn College and is a strong relationship manager and professional mentor. In her spare time, Giulia trains competitively in Muay Thai, a form of martial arts kickboxing.</p>
      </div>
    </div>
  </div>
</div>
{{ end }}