{{ define "main" }}

<div id="sectionFormats" class="section-wrapper section-formats">
	<div class="interior-page page-1" data-anchor="page-intro"> 
		<ul class="breadcrumbs"><span>Company</span><span> > Patents</span></ul>
		
		<div class="match-light">
			<div class="headlines">
			<h1 class="headline-cap">Yieldmo<br>Patents</h1>
			</div>
		</div>

		<div class="match-dark">
			<div class="explanation"><p>Yieldmo's growing patent portfolio reflects our commitment to improving digital marketing for consumers, marketers, and publishers. Continuous research and development has resulted in numerous engagement-powered products and services that contain technologies protected by one or more U.S. patents or patent applications.</p>
			<p class="legal">In accordance with Section 287(a) of Title 35 of the United States Code, the reader is hereby placed on notice of Yieldmo, Inc.’s rights in the listed United States Patents.</p></div>
			<div class="col-container">
				<div class="col-left"></div>
				<div class="chart-container">
					<div class="chart-col top">
						<h1 class="list left">FORMATS</h1>
					</div>
					<div class="chart-col top">
						<h1 class="list right">&nbsp;</h1>
					</div>	
					<div class="chart-col">
						<h1 class="list left">Hyperscroller</h1>
					</div>
					<div class="chart-col">
						<h1 class="list right">U.S. Pat. No. 9,852,759; other pending.</h1>
					</div>
					<div class="chart-col grey">
						<h1 class="list left">Windowplay</h1>
					</div>
					<div class="chart-col grey">
						<h1 class="list right">U.S. Pat. Pending</h1>
					</div>
					<div class="chart-col">
						<h1 class="list left">Hyperplay</h1>
					</div>
					<div class="chart-col">
						<h1 class="list right">U.S. Pat. Pending</h1>
					</div>
					<div class="chart-col grey">
						<h1 class="list left">Window</h1>
					</div>
					<div class="chart-col grey">
						<h1 class="list right">U.S. Pat. Pending</h1>
					</div>
					<div class="chart-col">
						<h1 class="list left">Video</h1>
					</div>
					<div class="chart-col">
						<h1 class="list right">U.S. Pat. No. 9,852,759; other pending.</h1>
					</div>
					<div class="chart-col grey">
						<h1 class="list left">Switch</h1>
					</div>
					<div class="chart-col grey">
						<h1 class="list right">U.S. Pat. Pending</h1>
					</div>
					<div class="chart-col">
						<h1 class="list left">Elevator</h1>
					</div>
					<div class="chart-col">
						<h1 class="list right">U.S. Pat. Pending</h1>
					</div>
					<div class="chart-col grey">
						<h1 class="list left">Pull</h1>
					</div>
					<div class="chart-col grey">
						<h1 class="list right">U.S. Pat. Pending</h1>
					</div>
					<div class="chart-col">
						<h1 class="list left">Mainstage</h1>
					</div>
					<div class="chart-col">
						<h1 class="list right">U.S. Pat. No. D793,424</h1>
					</div>
					<div class="chart-col grey">
						<h1 class="list left">Carousel</h1>
					</div>
					<div class="chart-col grey">
						<h1 class="list right">U.S. Pat. No. D793,424</h1>
					</div>
					<div class="chart-col">
						<h1 class="list left">Ticker</h1>
					</div>
					<div class="chart-col">
						<h1 class="list right">U.S. Pat. No. D810,754</h1>	
					</div>
					<div class="chart-col grey">
						<h1 class="list left">Zine</h1>
					</div>
					<div class="chart-col grey">
						<h1 class="list right">U.S. Pat. Pending</h1>
					</div>
					<div class="chart-col">
						<h1 class="list left">Shadowbox</h1>
					</div>
					<div class="chart-col">
						<h1 class="list right">U.S. Pat. Pending</h1>
					</div>
					<div class="chart-col grey">
						<h1 class="list left">Lookbook</h1>
					</div>
					<div class="chart-col grey">
						<h1 class="list right">U.S. Pat. Pending</h1>
					</div>
					<div class="chart-col">
						<h1 class="list left">Stacked cards advertisement</h1>
					</div>
					<div class="chart-col">
						<h1 class="list right">U.S. Pat No. D785,643</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{end}}