.arrow-down {
  transform: translateX(-50%) rotate(-45deg);
  color: $tangerine;
  font-weight: 100;
  line-height: 1;
  margin: 0;
}



.main-cta {
  font-family: $headline-cap;
  line-height: 1;
  font-weight: bold;
  color: $tangerine;
  border: 1px dotted $tangerine;
}

.headline-cap {
  font-family: $headline-cap;
  text-align: left;
}

.headline-lean {
  font-family: $headline-lean;
  font-style: italic;
  font-weight: 100;
  line-height: 1.1;
  font-size: 3.7rem;
  text-align: left;
}

.inline-cta {
  font-family: $headline-cap;
  font-size: 1.6rem;
  color: $ocean-deep;
  font-weight: bold;
  margin-left: .5em;
  color: $deep-blue;

  &:before {
    content: '❯';
    position: relative;
    left: -.5em;
  }
}

.breadcrumbs {
  text-align: left;
  color: $tangerine;
  font-family: $content-font;
  text-transform: uppercase;

  span {
  }
}



/* ==========================================================================
   Responsiveness
   ========================================================================== */

@media (--mobile-l) {
  .headline-cap {
    font-size: 1.8rem;
  }

  .headline-lean {
    font-size: 1.5em;
  }

  .arrow-down {  
    font-size: 3rem;
  }

  .main-cta {
    font-size: 1rem;
    padding: .5em .5em .3em .5em;
  }
}


@media (--desktop) {
  .headline-cap {
    font-size: 3.6rem;
    line-height: 1.1;
  }

  .arrow-down {  
    font-size: 8rem;
  }

  .main-cta {
    font-size: 2rem;
    padding: .3em .6em .1em .6em;
  }
}


/* ==========================================================================
   Interaction
   ========================================================================== */

.arrow-down {
  animation: scroll-down 2s ease-out infinite;
}

@keyframes scroll-down {
  0% {
    transform: translate3d(-50%,0,0) rotate(-45deg);;
    opacity: 1;
  }

  50% {
    transform: translate3d(-50%,.2em,0) rotate(-45deg);
    opacity: 0.8;
  }
}












/* ==========================================================================
   Utility helper classes
   ========================================================================== */

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}
