.site-navigation {
  position: fixed;
  top: 0;
  left: 0;
  height: 4em;
  width: 100%;
  z-index: 999;
  overflow: hidden;
  color: $primary-white;
  background-color: $ocean-deep;


  .nav-icon {
    position: absolute;
    text-align: center;
    cursor: pointer;
    left: 0;
    top: 0;
    width: 2em;
    height: 1.2em;
    margin: 1.4em;

    span {
      position: absolute;
      width: 100%;
      height: .2em;
      left: 0;
      background: $tangerine;
    }
  }

  .message {
    height: 4em;
    padding: .5em 0;
    text-align: center;

    .title {
      text-decoration: none;
      color: $primary-white;
      font-size: 1.2rem;
    }

    .subtitle {
      font-family: $content-font;
      font-size: .7rem;
      line-height: 1.8;
    }
  }
}

.menu-container {
  position: fixed;
  width: 15em;
  height: 100%;
  left: 0;
  top: 0;
  background-color: $deep-blue;
  color: $primary-white;

  ul {
    padding: 0;
    text-align: left;
    list-style-type: none;

    a { color: $primary-white;  }
  }

  .primary-menu {
    position: absolute;
    width: 100%;
    bottom: 14em;
    top: 0;
    padding: 0 2em;

    > ul {
      @extend vertical-align;
    }

    .sub-menu {
      margin-top: 1em;
    }

    .main-section-name {
      font-family: $content-font;
      letter-spacing: 1px;
      font-size: 1.2rem;
      font-weight: 100;
    }

    .sub-sections {
      margin-left: 1.5em;

      li {
        font-family: MeltowSan100-Regular;
        letter-spacing: 1px;
        margin: .3em 0;

        &:before {
          content: '❯';
          position: relative;
          left: -0.5em;
          font-weight: 100;
          font-size: 0.8rem;
        }

        &.active:before,
        &.active a {
          color: $tangerine;
        }
      }
    }
  }

  .secondary-menu {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 2em;

    ul {
      border-top: 1px dotted $primary-white;
      padding: 1em 0 4em 0;

      li {
        font-family: MeltowSan100-Regular;
        letter-spacing: 1px;
        font-size: .8rem;
        margin: .25em 0;
      }
    }
  }
}


/* ==========================================================================
   Responsiveness
   ========================================================================== */

@media (--mobile-m) {
  .site-navigation {
  }
}


@media (--desktop) {
  .site-navigation {
    overflow: hidden;
    width: 10em;
    height: 100%;

    .nav-icon {
      top: 3em;
      left: 0;
      right: 0;
      width: 3em;
      height: 2em;
      margin: 0 auto;
    }

    .message {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      text-align: left;
      height: auto;
      margin: 0 1em;
      padding: 0;

      .title {
        font-size: 1.8rem;
      }
    }
  }
}



/* ==========================================================================
   Interactions
   ========================================================================== */

body.open {
  height: 100%;
  overflow: hidden;

  .arrow-down:after {
    display: none;
  }
}

.site-navigation {
  transition: left 300ms linear;
  left: 0;

  /* .marquee  */
  .nav-icon {
    span:nth-child(1) { top: 0; left:0; width: 100%; transform: rotate(0deg); }
    span:nth-child(2) { top: .5em; left:0; width: 100%; transform: rotate(0deg); }
    span:nth-child(3) { top: .5em; left:0; width: 100%; transform: rotate(0deg); }
    span:nth-child(4) { top: 1em; left:0; width: 100%; transform: rotate(0deg); }

    span { transition: .3s ease-in-out; }
  }
}

.open .site-navigation {
  left: 15em;

  .nav-icon {
    span:nth-child(1) { top: 1em; left: 50%; width: 0%; }
    span:nth-child(2) { transform: rotate(45deg); }
    span:nth-child(3) { transform: rotate(-45deg); }
    span:nth-child(4) { top: 1em; left: 50%; width: 0%; }
  }
}

.menu-container {
  transition: opacity 300ms;
  opacity: 0.5;
}

.open .menu-container {
  opacity: 1;
}

.site-wrapper,
.fixed-frame {
  transform: translateX(0em);
  transition: transform 300ms linear;
}

.open .site-wrapper,
.open .fixed-frame {
  transform: translateX(15em);
}