.site-navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  overflow: hidden;

  font-size: 1rem;
  color: $primary-white;

  .marquee {
    position: absolute;
    height: 100%;
    right: 0;
    width: 12em;

    background-color: $ocean-deep;


    .nav-icon {
      position: relative;
      height: 3em;
      width: 3em;
      top: 3em;
      margin: 0 auto;
      text-align: center;
      cursor: pointer;

      span {
        background: $tangerine;
        display: block;
        position: absolute;
        height: .4em;
      }
    }

    .message {
      @extend vertical-align;
      margin: 0 2em;
      text-align: left;

      .title {
        font-family: $headline-cap;
        font-size: 1.8rem;
        font-weight: 100;
        text-decoration: none;
        color: $primary-white;
      }

      .subtitle {
        font-family: $content-font;
        font-size: .9rem;
        margin-top: .5em;
        line-height: 1.8;
      }
    }
  }

  .menu-container {
    position: absolute;
    z-index: -1;
    height: 100%;
    left: 0;
    width: 18em;

    background-color: $deep-blue;
    color: $primary-white;

    ul {
      padding: 0;
      text-align: left;
      list-style-type: none;
    }

    a {
      color: white;
      text-decoration: none;
    }
  }

  .primary-menu {
    position: absolute;
    width: 100%;
    bottom: 14em;
    top: 0;
    padding: 0 2.5em;

    > ul {
      @extend vertical-align;
    }

    .main-section-name {
      font-family: $content-font;
      font-size: 1.2rem;
      font-weight: 100;
    }

    .sub-sections {
      margin-left: 1.5em;

      li {
        font-family: $headline-cap;
        font-size: .9rem;
        font-weight: bold;
        margin: .6em 0;

        &:before {
          content: '❯';
          position: relative;
          left: -.5em;
        }

        &.active:before,
        &.active a {
          color: $tangerine;
        }
      }
    }
  }

  .secondary-menu {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 2.5em;

    ul {
      border-top: 1px dotted $primary-white;
      padding: 4em 0;

      li {
        font-family: $headline-cap;
        font-size: .8rem;
        font-weight: bold;
        margin: .25em 0;
      }
    }
  }
}





/* ==========================================================================
   Interactions
   ========================================================================== */

.site-navigation {
  width: 12em;
  transition: width 300ms linear;

  .menu-container {
    opacity: 0.5;
    transition: opacity 300ms;
  }
}

.open .site-navigation {
  width: 30em;

  .menu-container {
    opacity: 1;
  }
}


.marquee .nav-icon {
  span:nth-child(1) { top: 0px; left:0; width: 100%; transform: rotate(0deg); }
  span:nth-child(2) { top: .9em; left:0; width: 100%; transform: rotate(0deg); }
  span:nth-child(3) { top: .9em; left:0; width: 100%; transform: rotate(0deg); }
  span:nth-child(4) { top: 1.8em; left:0; width: 100%; transform: rotate(0deg); }

  span { transition: .3s ease-in-out; }
}

.open .marquee .nav-icon {
  span:nth-child(1) { top: 1em; left: 50%; width: 0%; }
  span:nth-child(2) { transform: rotate(45deg); }
  span:nth-child(3) { transform: rotate(-45deg); }
  span:nth-child(4) { top: 1em; left: 50%; width: 0%; }
}
