.site-navigation {
  position: fixed;
  top: 0;
  z-index: 1;
  overflow: hidden;

  color: $primary-white;

  .marquee {
    position: absolute;
    right: 0;

    background-color: $ocean-deep;

    .nav-icon {
      position: relative;
      text-align: center;
      cursor: pointer;

      span {
        background: $tangerine;
        display: block;
        position: absolute;
        height: .3em;
      }
    }

    .message {
      .title {
        font-family: $headline-cap;
        text-decoration: none;
        color: $primary-white;
      }

      .subtitle {
        font-family: $content-font;
        font-size: .7rem;
        line-height: 1.8;
      }
    }
  }
}

.menu-container {
  position: fixed;
  z-index: -1;
  width: 18em;
  height: 100%;
  left: 0;

  background-color: $deep-blue;
  color: $primary-white;

  ul {
    padding: 0;
    text-align: left;
    list-style-type: none;
  }

  a {
    color: white;
    text-decoration: none;
  }

  .primary-menu {
    position: absolute;
    width: 100%;
    bottom: 14em;
    top: 0;
    padding: 0 2.5em;

    > ul {
      @extend vertical-align;
    }

    .main-section-name {
      font-family: $content-font;
      font-size: 1.2rem;
      font-weight: 100;
    }

    .sub-sections {
      margin-left: 1.5em;

      li {
        font-family: $headline-cap;
        font-size: 1.1rem;
        font-weight: bold;
        margin: .6em 0;

        &:before {
          content: '❯';
          position: relative;
          left: -.5em;
        }

        &.active:before,
        &.active a {
          color: $tangerine;
        }
      }
    }
  }

  .secondary-menu {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 2.5em;

    ul {
      border-top: 1px dotted $primary-white;
      padding: 4em 0;

      li {
        font-family: $headline-cap;
        font-size: .9rem;
        font-weight: bold;
        margin: .25em 0;
      }
    }
  }
}



/* ==========================================================================
   Interactions
   ========================================================================== */

.site-navigation {
  transition: width 300ms linear;
}

.menu-container {
  opacity: 0.5;
  transition: opacity 300ms;
}

.open .menu-container {
  opacity: 1;
}


.marquee .nav-icon {
  span:nth-child(1) { top: 0px; left:0; width: 100%; transform: rotate(0deg); }
  span:nth-child(2) { top: .7em; left:0; width: 100%; transform: rotate(0deg); }
  span:nth-child(3) { top: .7em; left:0; width: 100%; transform: rotate(0deg); }
  span:nth-child(4) { top: 1.4em; left:0; width: 100%; transform: rotate(0deg); }

  span { transition: .3s ease-in-out; }
}

.open .marquee .nav-icon {
  span:nth-child(1) { top: 1em; left: 50%; width: 0%; }
  span:nth-child(2) { transform: rotate(45deg); }
  span:nth-child(3) { transform: rotate(-45deg); }
  span:nth-child(4) { top: 1em; left: 50%; width: 0%; }
}


@media (--mobile-l) {
  .site-navigation {
    transition: left 300ms linear;
    left: 0;
  }

  .open .site-navigation {
    left: 18em;
  }
}

@media (--desktop) {
  .site-navigation {
    transition: width 300ms linear;
    width: 12em;
  }

  .open .site-navigation {
    width: 30em;
  }
}


/* ==========================================================================
   Responsiveness
   ========================================================================== */

@media (--mobile-l) {
  .site-navigation {
    bottom: auto;
    top: 0;
    height: 4em;
    width: 100%;

    .marquee {
      left: 0;
      width: 100%;
      height: 100%;

      .nav-icon {
        position: absolute;
        left: 0;
        width: 2em;
        height: 2em;
        margin: 1em 2em;
      }

      .message {
        text-align: center;
        padding: 0.7em 0;

        .title {
          font-size: 1.3rem;
        }

        .subtitle {
          line-height: 1;
        }
      }
    }
    
    .menu-container {
      height: 100vh;
    }
  }
}


@media (--desktop) {
  .site-navigation {
    overflow: hidden;
    bottom: 0;

    .marquee {
      height: 100%;
      width: 12em;

      .nav-icon {
        top: 3em;
        width: 3em;
        height: 3em;
        margin: 0 auto;
      }

      .message {
        @extend vertical-align; /* doesn't work in media query !? */
        position: relative;
        margin: 0 2em;
        top: 50%;
        text-align: left;

        .title {
          font-size: 1.8rem;
        }
      }
    }

    .menu-container {
    }
  }
}